my project/force-app/main/default/flows/Account_Update_Opportunity_Stage_to_Onboarded_Ordering_or_Closed_Succeeded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Final_First_Oppty</name>
        <label>Assign Final First Oppty</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>multipleOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_first</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_first</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_Oppty</name>
        <label>Assign final Oppty</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>multipleOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAB_oppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAB_oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_Oppty_0</name>
        <label>Assign final Oppty</label>
        <locationX>1410</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>multipleOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAB_oppty_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAB_oppty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_Oppty_0_0</name>
        <label>Assign final Oppty</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>multipleOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAB_filtered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAB_filtered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_oppty_first_time</name>
        <label>Assign Single oppty first time</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_first.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_first.Number_of_supplier_on_Closing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_Suppliers_Ordered_From__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_First_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Oppty_record</name>
        <label>Assign Single Oppty record</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NAB_oppty.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Oppty_record_0</name>
        <label>Assign Single Oppty record</label>
        <locationX>1410</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NAB_oppty_0.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed:Succeeded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_Oppty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Oppty_record_0_0</name>
        <label>Assign Single Oppty record</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NAB_filtered.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_Oppty_0_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Select opptys of stage New, Tocuhed or DM Approved.</description>
        <name>Filter_the_NAB_Opptys_of_stages</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter the NAB Opptys of stages</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Filter_the_NAB_Opptys_of_stages_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_NAB_opportunity</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_the_NAB_Opptys_of_stages_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>New</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_the_NAB_Opptys_of_stages_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Touched</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_the_NAB_Opptys_of_stages_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>DM Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Collection_is_not_null</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>New_Closed_Succeeded</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>New Closed Succeeded</label>
        <locationX>1170</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_New_Closed_Succeeded</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_NAB_opportunity</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_New_Closed_Succeeded.Number_of_supplier_on_Closing__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_New_Closed_Succeeded.Number_of_supplier_on_Closing__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>First_Time_Closed_Succeeded</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_account_status</name>
        <label>check account status</label>
        <locationX>860</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chats_on_Account</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Chats__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Chats__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_the_NAB_Opptys_of_stages</targetReference>
            </connector>
            <label>Chats on Account</label>
        </rules>
        <rules>
            <name>account_status_Ordering</name>
            <conditionLogic>((1 AND 2 AND 3) OR (1 AND 4 AND 5)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAB_oppty</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>account status Ordering</label>
        </rules>
        <rules>
            <name>account_total_order_15</name>
            <conditionLogic>((1 AND 2) OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Suppliers_Ordered_From__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Orders__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ordering_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Closed_Succeeded</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>account total order &gt;15</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_is_not_null</name>
        <label>Collection is not null</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opptys_stage_other_than_Onboarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_the_NAB_Opptys_of_stages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAB_filtered</targetReference>
            </connector>
            <label>Opptys stage other than Onboarded</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Time_Closed_Succeeded</name>
        <label>First Time Closed Succeeded</label>
        <locationX>1170</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>NAB_oppty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Closed_Succeeded</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_first</targetReference>
            </connector>
            <label>First</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Update Opportunity Stage to Onboarded Ordering or Closed Succeeded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update Opportunity Stage to Onboarded Ordering or Closed Succeeded</label>
    <loops>
        <name>Loop_for_first</name>
        <label>Loop for first</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <collectionReference>New_Closed_Succeeded</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_oppty_first_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_stages_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NAB_filtered</name>
        <label>NAB filtered</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Filter_the_NAB_Opptys_of_stages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Oppty_record_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_stages_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NAB_oppty</name>
        <label>NAB oppty</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <collectionReference>get_NAB_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Oppty_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_stages_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NAB_oppty_0</name>
        <label>NAB oppty</label>
        <locationX>1322</locationX>
        <locationY>815</locationY>
        <collectionReference>get_NAB_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Oppty_record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_stages_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_NAB_opportunity</name>
        <label>get NAB opportunity</label>
        <locationX>860</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_account_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_stages_0</name>
        <label>Update stages</label>
        <locationX>666</locationX>
        <locationY>1031</locationY>
        <inputReference>multipleOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stages_0_0</name>
        <label>Update stages</label>
        <locationX>1170</locationX>
        <locationY>1367</locationY>
        <inputReference>multipleOppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_stages_0_0_0</name>
        <label>Update stages</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>multipleOppty</inputReference>
    </recordUpdates>
    <start>
        <locationX>734</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_NAB_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ClosedSucceededstage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Closed:Succeeded</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_the_NAB_Opptys_of_stages_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_New_Closed_Succeeded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Number_of_supplier_on_Closing_is_not_null</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>multipleOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OrderingStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Ordering</stringValue>
        </value>
    </variables>
</Flow>
