my project/force-app/main/default/flows/BD_Lead_Case_Mass_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>DueTimePlus48H</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (48/24)</expression>
    </formulas>
    <formulas>
        <name>LanguagefromRegion</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Region__c} = &apos;Region 1&apos;, &apos;de&apos;,
IF({!$Record.Region__c} = &apos;Region 2&apos;, &apos;fr&apos;,
IF(CONTAINS(&apos;Region 3&apos;, {!$Record.Region__c}), &apos;en&apos;,
IF({!$Record.Region__c} = &apos;Region 4&apos;, &apos;es&apos;,
&apos;en&apos;
))))</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;List Upload for &quot;+{!$Record.Company}</expression>
    </formulas>
    <interviewLabel>BD Lead Case Mass Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BD Lead Case Mass Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>533</locationX>
        <locationY>52</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Remove_URL_from_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.New_Order_Guide_Links__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueTimePlus48H</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailSender__c</field>
            <value>
                <elementReference>Get_Supplier_Info.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>LanguagefromRegion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Mass Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1r000004ZuXh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121r000000xJ2VAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>$Record.New_Order_Guide_Supplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>List Upload</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Supplier_Info</name>
        <label>Get Supplier Info</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Order_Guide_Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_URL_from_Lead</name>
        <label>Remove URL &amp; Supplier from Lead</label>
        <locationX>694</locationX>
        <locationY>52</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Order_Guide_Links__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Order_Guide_Supplier__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Supplier_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Order_Guide_Links__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Order_Guide_Supplier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-16</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
