my project/force-app/main/default/flows/Calculate_Chats_on_Account_by_Retention_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.number_of_unused_chats__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>count_Unused</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.number_of_active_chats__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>count_Active</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.number_of_churned_chats__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>count_Churned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Number_of_Monetised_Chats__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Count_Monetised</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>count_Active</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>count Active</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_count_Active</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chats</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_count_Active.Retention_Status__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_count_Active.Retention_Status__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Churn Risk</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>count_Churned</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>count_Churned</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>count Churned</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_count_Churned_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chats</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_count_Churned_0.Retention_Status__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Churned</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Monetised</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Count_Monetised</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Count Monetised</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Count_Monetised</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chats</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Count_Monetised.MonetisedOpportunity__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>count_Unused</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>count Unused</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_count_Unused</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_Chats</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_count_Unused.Retention_Status__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Not Activated</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>count_Active</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>has_Chats</name>
        <label>has Chats</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Chats</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>count_Unused</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>OPSSYS-1182 -  As an AM I want to have a clear overview of chats breakdown So that I can target upsells/chat churn more efficiently   
Please can we add the following fields to the layout # unused chats [number] # active chats [number] # churned chats [number] Dependent on the retention status field on the chat object
- added decision to check for Chats</description>
    <environments>Default</environments>
    <interviewLabel>Calculate Chats on Account by Retention Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Chats on Account by Retention Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Chats</name>
        <label>get Chats</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_Chats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Chats</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_count_Active</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>currentItem_count_Churned_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Count_Monetised</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
    <variables>
        <name>currentItem_count_Unused</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Chat__c</objectType>
    </variables>
</Flow>
