my project/force-app/main/default/flows/Case_Actions_for_Type_List_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <actionName>Create_Admin_Ops_Case</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Get_currently_created_case_on_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>Get.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Due_Date__c</name>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>Get.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CaseAccountSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <actionName>Create_Admin_Ops_Case</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Get_currently_created_case_on_Lead_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Due_Date__c</name>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Lead__c</name>
            <value>
                <elementReference>Get.Lead__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>Get.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CaseLeadSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice_Admin_Upload_Done</name>
        <choiceText>Admin Upload Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Upload Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_M</name>
        <choiceText>List sent to DM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>List sent to DM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_Requester</name>
        <choiceText>List sent to Requester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>List sent to Requester</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Sales_Responsibility</name>
        <choiceText>Sales Responsibility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Responsibility</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SF_Upload_Done</name>
        <choiceText>SF Upload Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SF Upload Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceTransfertoOrderGuideUpload</name>
        <choiceText>Transfer to Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Upload</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Related_Account_Or_Lead</name>
        <label>Check Related Account Or Lead</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_of_flow</name>
        <label>Decision of flow</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_sent_to_DM_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List sent to DM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_List_sent_to_DM</targetReference>
            </connector>
            <label>List sent to DM True</label>
        </rules>
        <rules>
            <name>Sales_Responsibility_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Responsibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Responsibility</targetReference>
            </connector>
            <label>Sales Responsibility True</label>
        </rules>
        <rules>
            <name>SF_Upload_Done_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SF Upload Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SF_Upload_Done</targetReference>
            </connector>
            <label>SF Upload Done True</label>
        </rules>
        <rules>
            <name>List_sent_to_Requester_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List sent to Requester</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Sent_to_Requester</targetReference>
            </connector>
            <label>List sent to Requester</label>
        </rules>
        <rules>
            <name>Admin_Upload_Done_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Admin_Upload_Done</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Upload_Done_2</targetReference>
            </connector>
            <label>Admin Upload Done</label>
        </rules>
        <rules>
            <name>Transfer_to_Order_Guide_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceTransfertoOrderGuideUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TransfertoOrderGuideUploadDone</targetReference>
            </connector>
            <label>Transfer to Order Guide Upload</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>newDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +
CASE(
  MOD( TODAY() - DATE( 1900, 1, 7 ), 7 ),
  1,1,
  2,1,
  3, 1,
  4, 1,
  5, 3,
  6, 2,
  7, 1,
1
)</expression>
    </formulas>
    <interviewLabel>Case Actions for Type List Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Actions for Type List Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Current Case</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currently_created_case_on_Account</name>
        <label>Get currently created case on Account</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_attachments_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currently_created_case_on_Lead_0</name>
        <label>Get currently created case on Lead</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_attachments_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_of_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Admin_Upload_Done_2</name>
        <label>Admin Upload Done</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>The order guide has been uploaded to the chat.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <stringValue>Admin Upload Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>List_Sent_to_Requester</name>
        <label>List Sent to Requester</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>List has been sent to you. Please check your mails.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <elementReference>Choice_List_sent_to_Requester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>TransfertoOrderGuideUploadDone</name>
        <label>Transfer to Order Guide Upload Done</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Check_Related_Account_Or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Its transferred for Order Guide Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <stringValue>Admin Upload Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_List_sent_to_DM</name>
        <label>Update List sent to DM</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>The list you requested will be sent to the DM. Contact the DM to get the list.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <stringValue>Sent to DM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Responsibility</name>
        <label>Update Sales Responsibility</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Currently it is not possible for CS to get the list. Please get invoices or ask DM to request lists directly from the supplier.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <stringValue>Sales Responsibility</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SF_Upload_Done</name>
        <label>Update SF Upload Done</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>List has been received and uploaded by CS. SalesOps will let you know when your account is ready to be onboarded.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Result__c</field>
            <value>
                <stringValue>Data Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>List_Confirmation_Calls</name>
        <label>List Confirmation Calls</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <fields>
            <name>Choose_one_of_these_actions1</name>
            <choiceReferences>Choice_List_sent_to_M</choiceReferences>
            <choiceReferences>Choice_Sales_Responsibility</choiceReferences>
            <choiceReferences>Choice_SF_Upload_Done</choiceReferences>
            <choiceReferences>Choice_List_sent_to_Requester</choiceReferences>
            <choiceReferences>Choice_Admin_Upload_Done</choiceReferences>
            <choiceReferences>ChoiceTransfertoOrderGuideUpload</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one of these actions:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Choose one of the above actions: &lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>List_Confirmation_Calls</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_attachments_0</name>
        <label>Copy attachments</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <flowName>Copy_attachments_and_comments</flowName>
        <inputAssignments>
            <name>existingCaseRecord</name>
            <value>
                <elementReference>Get</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newCaseRecord</name>
            <value>
                <elementReference>Get_currently_created_case_on_Lead_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_attachments_0_0</name>
        <label>Copy attachments</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <flowName>Copy_attachments_and_comments</flowName>
        <inputAssignments>
            <name>existingCaseRecord</name>
            <value>
                <elementReference>Get</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newCaseRecord</name>
            <value>
                <elementReference>Get_currently_created_case_on_Account</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseAccountSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get.Supplier_Account__r.Name} x {!Get.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseLeadSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get.Supplier_Account__r.Name} x {!Get.Lead__r.Company}</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
