my project/force-app/main/default/flows/Case_Outcomes_for_Vendor_Order_Guide_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Case_Closed_Fully_Set_Up</name>
        <choiceText>Case Closed: Fully Set Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Closed:Fully Set Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Admin_Upload_Done</name>
        <choiceText>Admin Upload Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Upload Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_M</name>
        <choiceText>Case Closed: Fully - Set Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Closed: Fully - Set Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_Requester</name>
        <choiceText>List sent to Requester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>List sent to Requester</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Sales_Responsibility</name>
        <choiceText>Transfer to Order Guide Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SF_Upload_Done</name>
        <choiceText>Transfer to Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fully_Set_Up</name>
        <choiceText>Fully_Set_Up</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Order_Guide_Unsuccessful</name>
        <choiceText>Case Closed: Order Guide Request Unsuccessful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Request Unsuccessful</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Order_Guide_Request</name>
        <choiceText>Transfer to Order Guide Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Order_Guide_Upload</name>
        <choiceText>Transfer to Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Order_Guide_Upload_2</name>
        <choiceText>Transfer to Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Upload</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_of_flow</name>
        <label>Decision of flow</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Closed_Fully_Set_Up_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Closed:Fully Set Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fully_Set_Up</targetReference>
            </connector>
            <label>Case Closed:Fully Set Up</label>
        </rules>
        <rules>
            <name>Transfer_to_Order_Guide_Request_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Guide Request Unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Guide_Request_Unsuccessful_2</targetReference>
            </connector>
            <label>Case Closed: Order Guide Request Unsuccessfull</label>
        </rules>
        <rules>
            <name>Transfer_to_Order_Guide_Upload_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer to Order Guide Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Guide_Upload</targetReference>
            </connector>
            <label>Transfer to Order Guide Upload</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Case Outcomes for Vendor Order Guide Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Outcomes for Vendor Order Guide Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Current Case</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_of_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Order_Guide_Request_Unsuccessful_2</name>
        <label>Order Guide Request Unsuccessful</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Order Guide Request Unsuccessful</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fully_Set_Up</name>
        <label>Update Fully Set Up</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Fully Set Up Completed. Case has been closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Guide_Upload</name>
        <label>Update Order Guide Upload</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Please proceed Order Guide Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Comment__c</field>
            <value>
                <stringValue>Transferred to Order Guide Upload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Vendor Invite: Order Guide Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Vendor_Invite_Case_Outcomes</name>
        <label>Vendor Invite Case Outcomes</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <fields>
            <name>Choose_one_of_these_actions1</name>
            <choiceReferences>Case_Closed_Fully_Set_Up</choiceReferences>
            <choiceReferences>Order_Guide_Unsuccessful</choiceReferences>
            <choiceReferences>Transfer_to_Order_Guide_Upload_2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one of these actions:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Choose one of the above actions: &lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vendor_Invite_Case_Outcomes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Order_Guide_Unsuccessful_Comment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order Guide Request Unsuccessful&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
