my project/force-app/main/default/flows/Case_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Buyer_Owner</name>
        <label>assign Buyer Owner</label>
        <locationX>1052</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lead_Account_Owner</name>
        <label>assign Lead Account Owner</label>
        <locationX>1225</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Lead_Account_Owner_Email.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lead_Owner</name>
        <label>assign Lead Owner</label>
        <locationX>1392</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Lead_Owner_Email.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Output</name>
        <label>assign Output</label>
        <locationX>781</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SupplierOwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BuyerAccountAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuyerAccountAvailableFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupplierAccountAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SupplierAccountAvailableFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CcRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ImplementationManagerEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Invite_Link_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chat Creation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Buyer_Owner_Available</name>
        <label>Buyer Owner Available</label>
        <locationX>1046</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Lead_Account_Owner_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyerOwnerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Buyer_Owner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Account_Owner_Available</name>
        <label>Lead Account Owner Available</label>
        <locationX>1219</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Lead_Owner_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Lead_Account_Owner_Email.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Lead_Account_Owner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Owner_Available</name>
        <label>Lead Owner Available</label>
        <locationX>1386</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>get_Fallback_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Lead_Owner_Email.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Lead_Owner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1287</locationX>
        <locationY>1078</locationY>
        <defaultConnector>
            <targetReference>Send_Case_Creation_Notification_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerService</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Cc_Emails</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
        <rules>
            <name>Marketplace_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace_Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Cc_Emails2</targetReference>
            </connector>
            <label>Marketplace Discovery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Through_Feature</name>
        <label>Request Through Feature</label>
        <locationX>770</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invite_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_through_Feature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invite Link</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Body_0</targetReference>
            </connector>
            <label>Invite Link</label>
        </rules>
        <rules>
            <name>Discovery_Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_through_Feature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_through_Feature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add any Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Body</targetReference>
            </connector>
            <label>Discovery &amp; Supplier</label>
        </rules>
    </decisions>
    <description>Switched ImplementationManager from To to Cc Mail.
This version adds a path for &quot;Invite Link&quot; cases to send notifications.
&quot;Add any Supplier&quot; &amp; &quot;Supplier Discovery&quot; receive the same notification as before, but now only if the feature has been explicitly selected. Check OPSSYS-1027 &amp; OPSSYS-768 for details.</description>
    <environments>Default</environments>
    <formulas>
        <name>BuyerAccountAvailableFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.AccountId}&lt;&gt;&quot;&quot;,
&quot;Buyer Account: &quot;&amp;{!BuyerName}&amp;&quot; https://choco.lightning.force.com/&quot;&amp;{!$Record.AccountId},
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ExistingBuyer</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS
({!$Record.Subject},&quot;Existing Customer&quot;),
&quot;True&quot;,
&quot;False&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SupplierAccountAvailableFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Supplier_Account__c}&lt;&gt;&quot;&quot;,
&quot;Supplier Account: &quot;&amp;{!SupplierName} &amp;&quot; https://choco.lightning.force.com/&quot;&amp;{!$Record.Supplier_Account__c},
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Body</name>
        <label>get Body</label>
        <locationX>1065</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_Owner_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat Creation</stringValue>
            </value>
        </filters>
        <object>Notification_Body__mdt</object>
        <outputAssignments>
            <assignToReference>Body</assignToReference>
            <field>Body__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Body_0</name>
        <label>get Body</label>
        <locationX>769</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SupplierAccountOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invite Link</stringValue>
            </value>
        </filters>
        <object>Notification_Body__mdt</object>
        <outputAssignments>
            <assignToReference>Body</assignToReference>
            <field>Body__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Buyer_Owner</name>
        <label>get Buyer Owner</label>
        <locationX>1440</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lead_Account_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BuyerOwnerEmail</assignToReference>
            <field>Account_Owner_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BuyerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BuyerOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_From</name>
        <label>get From</label>
        <locationX>1090</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_OrgWideAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat Creation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>From</stringValue>
            </value>
        </filters>
        <object>Notification_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>FromEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Implementation_Manager_Email</name>
        <label>get Implementation Manager Email</label>
        <locationX>652</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ImplementationManager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ImplementationManagerEmail</assignToReference>
            <field>Implementation_Manager_Email__c</field>
        </outputAssignments>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_Account_Owner</name>
        <label>get Lead Account Owner</label>
        <locationX>1440</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lead_Account_Owner_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>LeadAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_Account_Owner_Email</name>
        <label>get Lead Account Owner Email</label>
        <locationX>1321</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadAccountOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_Owner</name>
        <label>get Lead Owner</label>
        <locationX>1201</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lead_Owner_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_Owner_Email</name>
        <label>get Lead Owner Email</label>
        <locationX>1088</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Through_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_OrgWideAddress</name>
        <label>get OrgWideAddress</label>
        <locationX>1202</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <outputAssignments>
            <assignToReference>SenderAddress</assignToReference>
            <field>Address</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrgWideEmailAddressId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type</name>
        <label>get Record Type</label>
        <locationX>1322</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Buyer_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_SupplierAccountOwner</name>
        <label>get SupplierAccountOwner</label>
        <locationX>775</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Implementation_Manager_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SupplierOwnerEmail</assignToReference>
            <field>Account_Owner_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SupplierName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SupplierAccountOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>645</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat Creation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_From</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_Cc_Emails</name>
        <label>get Cc Emails</label>
        <locationX>1129</locationX>
        <locationY>1181</locationY>
        <connector>
            <targetReference>Send_Case_Creation_Notification_0</targetReference>
        </connector>
        <flowName>Notification_Settings_Retrieval</flowName>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parameter</name>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
            <value>
                <stringValue>CustomerService</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Target</name>
            <value>
                <stringValue>Cc</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CcRecipients</assignToReference>
            <name>EmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>get_Cc_Emails2</name>
        <label>get Cc Emails</label>
        <locationX>1438</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>Send_Case_Creation_Notification_0</targetReference>
        </connector>
        <flowName>Notification_Settings_Retrieval</flowName>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parameter</name>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
            <value>
                <stringValue>Marketplace_Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Target</name>
            <value>
                <stringValue>Cc</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CcRecipients</assignToReference>
            <name>EmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>get_Fallback_Emails</name>
        <label>get Fallback Emails</label>
        <locationX>1521</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowName>Notification_Settings_Retrieval</flowName>
        <inputAssignments>
            <name>NotificationName</name>
            <value>
                <elementReference>NotificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Parameter</name>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
        </inputAssignments>
        <inputAssignments>
            <name>Target</name>
            <value>
                <stringValue>Fallback</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EmailAddresses</assignToReference>
            <name>EmailAddresses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Send_Case_Creation_Notification_0</name>
        <label>Send Case Creation Notification</label>
        <locationX>1299</locationX>
        <locationY>1271</locationY>
        <flowName>Send_Email_Create_Activity</flowName>
        <inputAssignments>
            <name>ActivityTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CcRecipients</name>
            <value>
                <elementReference>CcRecipients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>OrgWideEmailAddressId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>BuyerOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderAddress</name>
            <value>
                <elementReference>SenderAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrackedRecipient</name>
            <value>
                <elementReference>BuyerOwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Invite_Link_Notification</name>
        <label>Send Invite Link Notification</label>
        <locationX>774</locationX>
        <locationY>1127</locationY>
        <flowName>Send_Email_Create_Activity</flowName>
        <inputAssignments>
            <name>ActivityTracking</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CcRecipients</name>
            <value>
                <elementReference>CcRecipients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>OrgWideEmailAddressId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerId</name>
            <value>
                <elementReference>SupplierAccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderAddress</name>
            <value>
                <elementReference>SenderAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SenderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TrackedRecipient</name>
            <value>
                <elementReference>SupplierAccountOwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Subject}
Existing buyer? {!ExistingBuyer}

New case created at: https://choco.lightning.force.com/{!$Record.Id}
Restaurant: https://choco.lightning.force.com/{!$Record.AccountId}

Feature: {!$Record.Request_through_Feature__c}
---
{!$Record.Description}
---

Email: Salesforce Case After Create v1</text>
    </textTemplates>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerAccountAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CcEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CcRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateActivityVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSettings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Setting__mdt</objectType>
    </variables>
    <variables>
        <name>FallbackTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImplementationManagerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0D21r0000004GpV</stringValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
