my project/force-app/main/default/flows/Case_Actions_for_Chat_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Admins_Ops_Record_0</name>
        <label>Create Admins Ops Record</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>Create_Admin_Ops_Case</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>newGet_currently_Created_case_on_the_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Chat_UUID__c</name>
            <value>
                <elementReference>GetCurrentCase.Chat_UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>GetCurrentCase.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Due_Date__c</name>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Lead__c</name>
            <value>
                <elementReference>GetCurrentCase.Lead__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>GetCurrentCase.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CaseLeadSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Account__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Name__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Orderdesk_Email__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Orderdesk_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Email__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Name__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Phone__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user_phone__c</name>
            <value>
                <elementReference>GetCurrentCase.user_phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user_name__c</name>
            <value>
                <elementReference>GetCurrentCase.user_name__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Admins_Ops_Record_0_0</name>
        <label>Create Admins Ops Record</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>Create_Admin_Ops_Case</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>accGet_currently_Created_case_on_the_account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>GetCurrentCase.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Order Guide Upload</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Chat_UUID__c</name>
            <value>
                <elementReference>GetCurrentCase.Chat_UUID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>GetCurrentCase.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Due_Date__c</name>
            <value>
                <elementReference>newDueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>GetCurrentCase.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>CaseAccountSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Account__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Name__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Orderdesk_Email__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Orderdesk_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Email__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Name__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Supplier_Rep_Phone__c</name>
            <value>
                <elementReference>GetCurrentCase.Supplier_Rep_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user_phone__c</name>
            <value>
                <elementReference>GetCurrentCase.user_phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>user_name__c</name>
            <value>
                <elementReference>GetCurrentCase.user_name__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Catalog_Available_ChatCreation</name>
        <choiceText>Catalog Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalog Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Admin_Upload_Done</name>
        <choiceText>Admin Upload Done</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Upload Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_M</name>
        <choiceText>Case Closed: Fully - Set Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Closed: Fully - Set Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List_sent_to_Requester</name>
        <choiceText>List sent to Requester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>List sent to Requester</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_NoOutreachNecessary</name>
        <choiceText>No Outreach Necessary: Order Guide Already Submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Outreach Necessary: Order Guide Already Submitted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OrderGuideNotObtained</name>
        <choiceText>Order Guide Not Obtained</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Not Obtained</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OrderGuideObtained</name>
        <choiceText>Order Guide Obtained</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Obtained</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Sales_Responsibility</name>
        <choiceText>Transfer to Order Guide Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SF_Upload_Done</name>
        <choiceText>Transfer to Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer to Order Guide Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fully_Set_Up</name>
        <choiceText>Fully_Set_Up</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Order_Guide_Requested_from_buyer</name>
        <choiceText>Order Guide Requested from Buyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Requested from Buyer</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderGuideRequestedfromVendor</name>
        <choiceText>Order Guide Requested from Vendor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Requested from Vendor</stringValue>
        </value>
    </choices>
    <choices>
        <name>OrderGuideUpload_ChatCreation</name>
        <choiceText>Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestnotFulfilled</name>
        <choiceText>Request not Fulfilled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request not Fulfilled</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CaseToBeCreated</name>
        <label>Case To be Created?</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>CloseChatCreationCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoYouWantToCreateAnAdminOpsCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkrelatedrecordleadoraccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkrelatedrecordleadoraccount</name>
        <label>CheckRelatedRecordLeadorAccount</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCase.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Admins_Ops_Record_0</targetReference>
            </connector>
            <label>lead</label>
        </rules>
        <rules>
            <name>account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCase.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Admins_Ops_Record_0_0</targetReference>
            </connector>
            <label>account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_of_flow</name>
        <label>Decision of flow</label>
        <locationX>1018</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderGuideUploadObtained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions_chatcreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideObtained</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskCreationForISAM</targetReference>
            </connector>
            <label>OG Obtained</label>
        </rules>
        <rules>
            <name>OrderGuideNotObtained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions_chatcreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideNotObtained</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskForISAM</targetReference>
            </connector>
            <label>OG Not Obtained</label>
        </rules>
        <rules>
            <name>NoOutreachNecessary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_one_of_these_actions_chatcreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_NoOutreachNecessary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseChatCreationCase</targetReference>
            </connector>
            <label>No Outreach Necessary</label>
        </rules>
    </decisions>
    <description>Screen flow for Case Outcomes for Case Type: Chat Creation Cases.
Revamped with new outcomes: OPSSYS-1259</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DueDateForTasks</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+2</expression>
    </formulas>
    <formulas>
        <name>newDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +
CASE(
  MOD( TODAY() - DATE( 1900, 1, 7 ), 7 ),
  1,1,
  2,1,
  3, 1,
  4, 1,
  5, 3,
  6, 2,
  7, 1,
1
)</expression>
    </formulas>
    <interviewLabel>Case Outcomes for Chat Creation Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Outcomes for Chat Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>TaskCreationForISAM</name>
        <label>Task creation for IS/AM</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>CaseCreationQuestion</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCurrentCase.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatIsReadyToBeActivated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>GetCurrentCase.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetCurrentCase.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>TaskForISAM</name>
        <label>Task for IS/AM</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>CloseChatCreationCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>DueDateForTasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCurrentCase.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectForTask_ChatNeedsOG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>GetCurrentCase.Supplier_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetCurrentCase.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>accGet_currently_Created_case_on_the_account</name>
        <label>Get currently Created case on the account</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Attachments_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1018</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_of_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentCase</name>
        <label>Current Case</label>
        <locationX>1018</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newGet_currently_Created_case_on_the_Lead</name>
        <label>Get currently Created case on the Lead</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Attachments_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentCase.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Closes the original chat creation case that started which was used to start the screen flow. Updates field: Case_Outcome__c with the outcome selected by the user.</description>
        <name>CloseChatCreationCase</name>
        <label>Close Chat Creation Case</label>
        <locationX>1018</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Choose_one_of_these_actions_chatcreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Actions_for_Chat_Creation</name>
        <label>Case Actions for Chat Creation</label>
        <locationX>1018</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCurrentCase</targetReference>
        </connector>
        <fields>
            <name>Choose_one_of_these_actions_chatcreation</name>
            <choiceReferences>Choice_OrderGuideObtained</choiceReferences>
            <choiceReferences>Choice_OrderGuideNotObtained</choiceReferences>
            <choiceReferences>Choice_NoOutreachNecessary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one of these actions:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Choose one of the above actions: &lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Asks the user if they want to create an AdminOps case.</description>
        <name>CaseCreationQuestion</name>
        <label>Case Creation Question</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CaseToBeCreated</targetReference>
        </connector>
        <fields>
            <name>DoYouWantToCreateAnAdminOpsCase</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create an AdminOps Case?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Actions_for_Chat_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_Attachments_0</name>
        <label>Copy Attachments</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>CloseChatCreationCase</targetReference>
        </connector>
        <flowName>Copy_attachments_and_comments</flowName>
        <inputAssignments>
            <name>existingCaseRecord</name>
            <value>
                <elementReference>GetCurrentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newCaseRecord</name>
            <value>
                <elementReference>newGet_currently_Created_case_on_the_Lead</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_Attachments_0_0</name>
        <label>Copy Attachments</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>CloseChatCreationCase</targetReference>
        </connector>
        <flowName>Copy_attachments_and_comments</flowName>
        <inputAssignments>
            <name>existingCaseRecord</name>
            <value>
                <elementReference>GetCurrentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newCaseRecord</name>
            <value>
                <elementReference>accGet_currently_Created_case_on_the_account</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>CaseAccountSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetCurrentCase.Supplier_Account__r.Name} x {!GetCurrentCase.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CaseLeadSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetCurrentCase.Supplier_Account__r.Name} x {!GetCurrentCase.Lead__r.Company}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForTask_ChatIsReadyToBeActivated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetCurrentCase.Supplier_Account__r.Name} x {!GetCurrentCase.Account.Name} - Chat is Ready to be Activated</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForTask_ChatNeedsOG</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetCurrentCase.Supplier_Account__r.Name} x {!GetCurrentCase.Account.Name} - Chat Needs Order Guide</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
