my project/force-app/main/default/flows/CaseOutsourcingQualityRating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Sends an email to Forcontact after Outsourcing Quality Rating</description>
        <name>SendEmailToForcontact</name>
        <label>Send Email to Forcontact</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>victor.gaya@forcontact.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Outsourcing Quality Rating for Forcontact</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to Invisible after Outsourcing Quality Rating.</description>
        <name>SendEmailToInvisible</name>
        <label>Send Email to Invisible</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nikolas.sommer@choco.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Outsourcing Quality Rating for Invisible</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to Isahit after Outsourcing Quality Rating.</description>
        <name>SendEmailToIsahit</name>
        <label>Send Email to Isahit</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nikolas.sommer@choco.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Outsourcing Quality Rating for Isahit</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to isahit after Outsourcing Quality Rating.</description>
        <name>SendEmailToMindbridge</name>
        <label>Send Email to Mindbridge</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nikolas.sommer@choco.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Outsourcing Quality Rating for Mindbridge</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Checks whether the Case has already been rated.</description>
        <name>CaseRated</name>
        <label>Case Rated?</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ShowOutsourcingQualityRatingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentCase.OutsourcingQualityRating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutsourcingQualityRatingScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks which provider was selected.</description>
        <name>CheckProviderSelection</name>
        <label>Check Provider Selection</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>SendEmailToForcontact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forcontact</defaultConnectorLabel>
        <rules>
            <name>isahit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceOutsourcers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>isahit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToIsahit</targetReference>
            </connector>
            <label>Isahit</label>
        </rules>
        <rules>
            <name>Mindbridge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceOutsourcers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mindbridge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToMindbridge</targetReference>
            </connector>
            <label>Mindbridge</label>
        </rules>
        <rules>
            <name>Invisible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceOutsourcers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invisible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToInvisible</targetReference>
            </connector>
            <label>Invisible</label>
        </rules>
    </decisions>
    <description>Sends an email with the Outsourcing Quality Rating - OPSSYS-1124
Added comment for outsourcing field in form, update &amp; email. 
Process enhancements - OPSSYS-1207</description>
    <dynamicChoiceSets>
        <description>Picklist with the outsourcing providers</description>
        <name>ChoiceOutsourcers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OutsourcingProvider__c</picklistField>
        <picklistObject>OutsourcingProvider__mdt</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RatingValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OutsourcingQualityRating__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case - Outsourcing Quality Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Outsourcing Quality Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the current Case.</description>
        <name>GetCurrentCase</name>
        <label>Get Current Case</label>
        <locationX>776</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseRated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>OutsourcingQualityRating__c</queriedFields>
        <queriedFields>OutsourcingProvider__c</queriedFields>
        <queriedFields>Comment_for_Outsourcing__c</queriedFields>
        <queriedFields>Region_Dropdown__c</queriedFields>
        <queriedFields>BPOAgent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the QualityOutsourcingRating__c on the Case with the value.</description>
        <name>UpdateOutsourcingQualityField</name>
        <label>Update Outsourcing Quality Field</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comment_for_Outsourcing__c</field>
            <value>
                <elementReference>Comment_for_Outsourcing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutsourcingProvider__c</field>
            <value>
                <elementReference>ChoiceOutsourcers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutsourcingQualityRating__c</field>
            <value>
                <elementReference>RatingValues</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>Feedback Sent</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckProviderSelection</targetReference>
        </connector>
        <fields>
            <name>FeedbackWasSent_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you for rating! ✨ It has been submitted.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 42, 42);&quot;&gt;Please press Done.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OutsourcingQualityRatingScreen</name>
        <label>Outsourcing Quality Rating Screen</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateOutsourcingQualityField</targetReference>
        </connector>
        <fields>
            <name>Headline</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Outsourcing Quality Rating&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PleaseSelectOutsourcingProvider</name>
            <choiceReferences>ChoiceOutsourcers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Outsourcing Provider</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RateTheQuality</name>
            <choiceReferences>RatingValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rate the Quality</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment_for_Outsourcing</name>
            <fieldText>Comment for Outsourcing</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Your comment cannot exceed 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comment_for_Outsourcing})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the rating of the field.</description>
        <name>ShowOutsourcingQualityRatingScreen</name>
        <label>Show Outsourcing Quality Rating Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Headline_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 18px;&quot;&gt;Outsourcing Quality Rating&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AlreadyRated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Case has already been rated &lt;/span&gt;✅&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The Outsourcing Quality Rating was set to: &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Rating:&lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt; {!GetCurrentCase.OutsourcingQualityRating__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Provider:&lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt; {!GetCurrentCase.OutsourcingProvider__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Comment:&lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt; {!GetCurrentCase.Comment_for_Outsourcing__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Agent:&lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt; {!GetCurrentCase.BPOAgent__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The Outsourcing Quality Rating was set to: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!RateTheQuality}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Comment from Choco QA: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Comment_for_Outsourcing}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Related Case Number: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetCurrentCase.CaseNumber}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;BPO Agent: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetCurrentCase.BPOAgent__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Region: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetCurrentCase.Region_Dropdown__c}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Link to Case: &lt;/span&gt;&lt;a href=&quot;https://choco.lightning.force.com/lightning/r/Case/{!GetCurrentCase.CaseNumber}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;strong&gt;{!GetCurrentCase.Id}&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Stores the Case ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
