my project/force-app/main/default/flows/CaseSetBPOAgentField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Decision to exclude Zap user</description>
        <name>IsZapierUser</name>
        <label>Is Zapier User?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Is Zap User</defaultConnectorLabel>
        <rules>
            <name>IsRegularUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>von Beust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e690000013Vn9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateField</targetReference>
            </connector>
            <label>Is Regular User</label>
        </rules>
    </decisions>
    <description>Flow that updates the &quot;BPO Agent&quot; field on Case to the agent&apos;s name that set the Case Status to &quot;QA Ready&quot; OPSSYS-1207</description>
    <environments>Default</environments>
    <formulas>
        <description>Adds User&apos;s first name and last name together</description>
        <name>Names</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>Profile</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>Case - Set BPO Agent Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Set BPO Agent Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the BPO Agent field with the agent&apos;s name who set the Case Status to &apos;QA Ready&apos;</description>
        <name>UpdateField</name>
        <label>Update Field</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>BPOAgent__c</field>
            <value>
                <elementReference>Names</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsZapierUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA Ready</stringValue>
            </value>
        </filters>
        <filters>
            <field>BPOAgent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
