my project/force-app/main/default/flows/Chat_After_Save_Update_VPR_in_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_the_VPR_activation_date</name>
        <label>Set the VPR activation date</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>get_referrals.VPR_Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstOrderDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_VPR_fields_on_referrals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_lead_vap_is_false_or_vpr_date_not_populated</name>
        <label>check if lead vap is false or vpr date not populated</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuyerLead__r.Lead_is_VPR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BuyerLead__r.VPR_activation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_lead</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_referral_exists</name>
        <label>check if referral exists</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referal_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_referrals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_VPR_activation_date</targetReference>
            </connector>
            <label>Referal is present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chat After Save Update VPR in Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_referrals</name>
        <label>get referrals</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_referral_exists</targetReference>
        </connector>
        <filterLogic>(1 OR (2 AND 3) )AND 4</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedOpportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerLead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SupplierAccount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VPR_Activation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_lead</name>
        <label>update lead</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <filterLogic>1 AND (2  OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BuyerLead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_is_VPR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VPR_activation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>VPR_activation_Date__c</field>
            <value>
                <elementReference>$Record.FirstOrderDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_VPR_fields_on_referrals</name>
        <label>update VPR fields on referrals</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>check_if_lead_vap_is_false_or_vpr_date_not_populated</targetReference>
        </connector>
        <inputReference>get_referrals</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstOrderDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstOrderDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Chat__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
