my project/force-app/main/default/flows/Check_for_Duplicate_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>429</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>NumberOfDuplicates</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDuplicateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarDuplicateAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDuplicateCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarDuplicateAccounts.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDuplicatePostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarDuplicateAccounts.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDuplicateOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarDuplicateAccounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_count_dublicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_Account_Existing</name>
        <label>Duplicate Account Existing?</label>
        <locationX>668</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_account_is_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfDuplicates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Inbound_Lead_Owner</targetReference>
            </connector>
            <label>Duplicate account is existing</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Owner_Id</name>
        <dataType>String</dataType>
        <expression>If(
 {!VarDuplicateAccounts.Owner.IsActive},
{!VarDuplicateAccounts.OwnerId}, 
{!Get_Lead_Record.OwnerId}
)</expression>
    </formulas>
    <interviewLabel>Check for Duplicate Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Duplicate Accounts</label>
    <loops>
        <name>Loop_to_count_dublicates</name>
        <label>Loop to count duplicates</label>
        <locationX>429</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>VarDuplicateAccounts</assignNextValueToReference>
        <collectionReference>DuplicateRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duplicate_Account_Existing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Duplicate_Account</name>
        <label>Get Duplicate Account</label>
        <locationX>429</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_count_dublicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Street</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VarCurrentLeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Company</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>DuplicateRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>287</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCurrentLeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>City</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbound_Lead</name>
        <label>Update Inbound Lead</label>
        <locationX>1149</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCurrentLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>VarDuplicateCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account__c</field>
            <value>
                <elementReference>VarDuplicateAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_duplicates__c</field>
            <value>
                <elementReference>NumberOfDuplicates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Formula_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>VarDuplicatePostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Inbound_Lead_Owner</name>
        <label>Update Previous Inbound Lead Owner</label>
        <locationX>924</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Update_Inbound_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCurrentLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Inbound_Lead_Owner__c</field>
            <value>
                <elementReference>Get_Lead_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DuplicateRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberOfDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarCurrentLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDuplicate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>VarDuplicateAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDuplicateAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarDuplicateCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDuplicateCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDuplicateOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDuplicatePostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
