my project/force-app/main/default/flows/Copy_attachments_and_comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Content_Files_0</name>
        <label>Create Content Files</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <actionName>FlowAction_CreateContentVersion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_over_Attachments_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>attachment</name>
            <value>
                <elementReference>Loop_over_Attachments_0_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>newCaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_contentDoc_Values</name>
        <label>assign contentDoc Values</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>contentDocVar.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_attachments.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocVar.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCaseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_variable_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_variable_to_list</name>
        <label>assign variable to list</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>contentDocList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_attachments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_attachments_and_case_id_present</name>
        <label>Check if attachments and case id present</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_id_and_attachments_present</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>newCaseRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newCaseRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>newCaseRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_all_attachments_from_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Attachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_FIles_exist</targetReference>
            </connector>
            <label>case id and attachments present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Attachments_Exists</name>
        <label>Check if Attachments Exists</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attachments_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Attachments_0_0</targetReference>
            </connector>
            <label>Attachments Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FIles_exist</name>
        <label>Check if FIles exist</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Check_if_Attachments_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FIles_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_attachments_from_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_attachments</targetReference>
            </connector>
            <label>FIles exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Copy attachments and comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy attachments and comments</label>
    <loops>
        <name>Loop_over_attachments</name>
        <label>Loop over attachments</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_all_attachments_from_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_contentDoc_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Attachments_0_0</name>
        <label>Loop over Attachments</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <collectionReference>Get_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Files_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Attachments</name>
        <label>Create Case Attachments</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Check_if_Attachments_Exists</targetReference>
        </connector>
        <inputReference>contentDocList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_attachments_from_Case</name>
        <label>Get all attachments from Case</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_emailMessage.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_attachments_and_case_id_present</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_emailMessage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_emailMessage</name>
        <label>get emailMessage</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_attachments_from_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_emailMessage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>existingCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
