my project/force-app/main/default/flows/Create_New_Case_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Count_Records</name>
        <label>Count Records</label>
        <locationX>1749</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>CountAttachments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FileDocumentsId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_AdminUpdate</name>
        <choiceText>Admin Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_b</name>
        <choiceText>choice_b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice_b</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BuyerEntityNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BuyerEntityYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BuyerNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BuyerYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CatalogUpload</name>
        <choiceText>Catalog Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catalog Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ConfirmationCall</name>
        <choiceText>Confirmation Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OrderGuideRequest</name>
        <choiceText>Order Guide Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OrderGuideUpload</name>
        <choiceText>Order Guide Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Guide Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierCall</name>
        <choiceText>Supplier Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierEntityNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierEntityYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierIntegrationPart1</name>
        <choiceText>Supplier integration Part 1: Clean catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier integration Part 1: Clean catalog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierIntegrationPart2</name>
        <choiceText>Supplier integration Part 2: Order Guide matching</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier integration Part 2: Order Guide matching</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierReferralLeadUpload</name>
        <choiceText>Supplier Referral Lead Upload</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplier Referral Lead Upload</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierUserCreationNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SupplierUserCreationYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_VendorAdminUpdate</name>
        <choiceText>Vendor Admin Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendor Admin Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_VendorsReferralChatCreation</name>
        <choiceText>Vendors Referral Chat Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vendors Referral Chat Creation</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecordType_AdminOps</name>
        <choiceText>Admin Ops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AdminOps</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecordType_CustomerService</name>
        <choiceText>Customer Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerService</stringValue>
        </value>
    </choices>
    <choices>
        <name>RecordType_MarketplaceDiscovery</name>
        <choiceText>Marketplace Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketplace_Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Type_Choice</name>
        <choiceText>List Upload</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>checkifcountryfieldempty</name>
        <label>checkifcountryfieldempty</label>
        <locationX>281</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_Supplier_Integration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>country_field_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case_V2</targetReference>
            </connector>
            <label>country field is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkifcountryfieldisempty</name>
        <label>checkifcountryfieldisempty</label>
        <locationX>1337</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Is_it_Integration_Processing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>countryempty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Case_V2ACC</targetReference>
            </connector>
            <label>countryempty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfLeadAccountOpportunity</name>
        <label>Check if Lead / Account / Opportunity</label>
        <locationX>1749</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>IsLead</label>
        </rules>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>IsAccount</label>
        </rules>
        <rules>
            <name>IsOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunity</targetReference>
            </connector>
            <label>IsOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_Supplier_Integration</name>
        <label>Is it a Supplier Integration</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>IsOrderGuideUploadCase3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_contains_Supplier_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnlySupplierAccountsNotLeads</targetReference>
            </connector>
            <label>Type contains Supplier Integration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Integration_Processing_Type</name>
        <label>Is it Integration Processing Type</label>
        <locationX>1568</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>IsOrderGuideUploadCase2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_integration_is_selected_but_not_comming_from_Supplier_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_integration_Cases_can_only_be_created_from_Supplier_Accounts</targetReference>
            </connector>
            <label>Supplier integration is selected but not comming from Supplier Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there an attachment to the case</description>
        <name>Is_there_an_attachment</name>
        <label>Is there an attachment</label>
        <locationX>1749</locationX>
        <locationY>2894</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAttachments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAttachments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Chance_to_Upload</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCountryEmpty1</name>
        <label>Is Country Empty?</label>
        <locationX>2393</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>IsItIntegrationProcessingType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Country is not empty</defaultConnectorLabel>
        <rules>
            <name>CountryIsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Account.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Case_V2ACC</targetReference>
            </connector>
            <label>Country is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsItIntegrationProcessingType</name>
        <label>Is it Integration Processing Type?</label>
        <locationX>2624</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>IsOrderGuideUploadCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplier_integration_is_selected_but_not_coming_from_Supplier_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Supplier_integration_Cases_can_only_be_created_from_Supplier_Accounts</targetReference>
            </connector>
            <label>Supplier integration is selected but not coming from Supplier Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Case is created for Order Guide Upload (List Upload).</description>
        <name>IsOrderGuideUploadCase</name>
        <label>Is Order Guide Upload Case?</label>
        <locationX>2822</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>CreateCaseOnOppRelatedAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderGuideUploadCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminOpsOrderGuideUploadCase</targetReference>
            </connector>
            <label>Order Guide Upload Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Case is created for Order Guide Upload (List Upload).</description>
        <name>IsOrderGuideUploadCase2</name>
        <label>Is Order Guide Upload Case?</label>
        <locationX>1766</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Create_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminOpsOrderGuideUploadCase2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks whether the Case is created for Order Guide Upload (List Upload).</description>
        <name>IsOrderGuideUploadCase3</name>
        <label>Is Order Guide Upload Case?</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminOpsOrderGuideUploadCase3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>marketplaceornot</name>
        <label>marketplaceornot</label>
        <locationX>1749</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Second_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesmarketplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Case_Record_Type_Label__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MarketplaceDiscovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatecreatesupplierchat</targetReference>
            </connector>
            <label>yesmarketplace</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks which Case Record Type was selected and shows the next screen based on that</description>
        <name>WhichRecordType</name>
        <label>Which Record Type?</label>
        <locationX>1749</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>First_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Record Type</defaultConnectorLabel>
        <rules>
            <name>AdminOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreen_CaseRecordTypeSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordType_AdminOps</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAdminOps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_OrderGuideUpload</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_OrderGuideUpload</targetReference>
            </connector>
            <label>Admin Ops</label>
        </rules>
    </decisions>
    <description>Screen flow to create different type of Cases.
Modified based on: OPSSYS-1161, OPSSYS-896</description>
    <dynamicChoiceSets>
        <name>Language_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderGuides</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Guides_From_Supplier__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistrecordtypechoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SobjectType</picklistField>
        <picklistObject>RecordType</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recordtypechoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Picklist_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UniqueproductIdperproductandunit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unique_Product_Id_Per_Product_Unit__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_BuyerEntityCreation</name>
        <dataType>String</dataType>
        <expression>IF ({!OG_BuyerEntityCreationRequired} = {!Choice_SupplierEntityYes}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_BuyerUserCreation</name>
        <dataType>String</dataType>
        <expression>IF ({!OG_BuyerUserCreationRequired} = {!Choice_BuyerEntityYes}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_SupplierEntityCreation</name>
        <dataType>String</dataType>
        <expression>IF ({!OG_SupplierEntityCreationRequired} = {!Choice_SupplierEntityYes}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_SupplierUserCreation</name>
        <dataType>String</dataType>
        <expression>IF ({!OG_SupplierUserCreationRequired} = {!Choice_SupplierUserCreationYes}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SubjectFinal</name>
        <dataType>String</dataType>
        <expression>IF(AND(LEN({!Subject}) = 0,LEN({!Subject2}) = 0,LEN({!OG_Subject}) = 0),
{!TypeResult} &amp; &quot; for &quot; &amp; {!Get_Lead.Company} &amp; {!Get_Account.Name} &amp; {!GetOpportunity.Name},
{!Subject2}&amp;{!Subject}&amp;{!OG_Subject})</expression>
    </formulas>
    <formulas>
        <name>TypeResult</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!TypeAdminOps})), {!TypeAdminOps}, IF(NOT(ISBLANK({!TypeCustomerService})), {!TypeCustomerService}, IF(NOT(ISBLANK({!TypeOther})), {!TypeOther},&apos;&apos;)) )</expression>
    </formulas>
    <interviewLabel>Create New Case V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Case V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Case for the type: Order Guide Upload (List Upload).</description>
        <name>AdminOpsOrderGuideUploadCase</name>
        <label>AdminOps = Order Guide Upload Case</label>
        <locationX>2690</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerEntityDetails__c</field>
            <value>
                <elementReference>OG_BuyerEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerUserCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerUserCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerUserDetails__c</field>
            <value>
                <elementReference>OG_BuyerUserDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OG_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>OG_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>OG_NumberOfOrderGuidesToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>GetOpportunity.Account.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_SupplierEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityDetails__c</field>
            <value>
                <elementReference>OG_SupplierEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierUserCreationRequired__c</field>
            <value>
                <elementReference>Formula_SupplierUserCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierUserDetails__c</field>
            <value>
                <elementReference>OG_SupplierUserDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_OG_SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a Case for the type: Order Guide Upload (List Upload).</description>
        <name>AdminOpsOrderGuideUploadCase2</name>
        <label>AdminOps = Order Guide Upload Case</label>
        <locationX>1634</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerEntityDetails__c</field>
            <value>
                <elementReference>OG_BuyerEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerUserCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerUserCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerUserDetails__c</field>
            <value>
                <elementReference>OG_BuyerUserDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OG_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>OG_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>OG_NumberOfOrderGuidesToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>Get_Account.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_SupplierEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityDetails__c</field>
            <value>
                <elementReference>OG_SupplierEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierUserCreationRequired__c</field>
            <value>
                <elementReference>Formula_SupplierUserCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierUserDetails__c</field>
            <value>
                <elementReference>OG_SupplierUserDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_OG_SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a Case for the type: Order Guide Upload (List Upload).</description>
        <name>AdminOpsOrderGuideUploadCase3</name>
        <label>AdminOps = Order Guide Upload Case</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>BuyerEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerEntityDetails__c</field>
            <value>
                <elementReference>OG_BuyerEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerUserCreationRequired__c</field>
            <value>
                <elementReference>Formula_BuyerUserCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>OG_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>OG_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>OG_NumberOfOrderGuidesToBeCreated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>Get_Lead.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityCreationRequired__c</field>
            <value>
                <elementReference>Formula_SupplierEntityCreation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierEntityDetails__c</field>
            <value>
                <elementReference>OG_SupplierEntityDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierUserDetails__c</field>
            <value>
                <elementReference>OG_SupplierUserDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>var_OG_SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Description}{!Description2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Chats_Created__c</field>
            <value>
                <elementReference>Number_Of_Chats_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>Number_Of_Order_Guides_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>Get_Lead.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>1898</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Description}{!Description2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Drive_Links__c</field>
            <value>
                <elementReference>Drive_Links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Chats_to_be_created__c</field>
            <value>
                <elementReference>Number_Of_Chats_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>Number_Of_Order_Guides_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Customers_To_Be_Matched__c</field>
            <value>
                <elementReference>Of_Customers_To_Be_Matched_With_Supplier_Catalog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Guides_From_Supplier__c</field>
            <value>
                <elementReference>Order_Guides_From_Suppliers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>Get_Account.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Product_Id_Per_Product_Unit__c</field>
            <value>
                <elementReference>Unique_Product_ID_per_Product_Unit</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseOnOppRelatedAccount</name>
        <label>Create Case on Opp related Account</label>
        <locationX>2954</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Description}{!Description2}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Google_Drive_Links__c</field>
            <value>
                <elementReference>Drive_Links</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language</field>
            <value>
                <elementReference>Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Chats_to_be_created__c</field>
            <value>
                <elementReference>Number_Of_Chats_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Order_Guides_to_be_created__c</field>
            <value>
                <elementReference>Number_Of_Order_Guides_To_Be_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Customers_To_Be_Matched__c</field>
            <value>
                <elementReference>Of_Customers_To_Be_Matched_With_Supplier_Catalog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Guides_From_Supplier__c</field>
            <value>
                <elementReference>Order_Guides_From_Suppliers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region_Dropdown__c</field>
            <value>
                <elementReference>GetOpportunity.Account.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>SupplierAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Lead__c</field>
            <value>
                <elementReference>SupplierLeadLookup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Product_Id_Per_Product_Unit__c</field>
            <value>
                <elementReference>Unique_Product_ID_per_Product_Unit</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1337</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkifcountryfieldisempty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1749</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>marketplaceornot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>281</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkifcountryfieldempty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>2393</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCountryEmpty1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrecordtype</name>
        <label>getrecordtype</label>
        <locationX>1749</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfLeadAccountOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstScreen_CaseRecordTypeSelection</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Case_RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Test</name>
        <label>Test</label>
        <locationX>1749</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1749</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Attachments__c</field>
            <value>
                <elementReference>CountAttachments</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatecreatesupplierchat</name>
        <label>updatecreatesupplierchat</label>
        <locationX>1617</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Second_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_through_Feature__c</field>
            <value>
                <stringValue>Supplier Discovery</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseTypeScreen</name>
        <label>Case Type Screen</label>
        <locationX>1749</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhichRecordType</targetReference>
        </connector>
        <fields>
            <name>SelectCaseType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please select Case Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TypeOther</name>
            <choiceReferences>Type_Picklist_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FirstScreen_CaseRecordTypeSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordType_MarketplaceDiscovery</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypeAdminOps</name>
            <choiceReferences>Choice_AdminUpdate</choiceReferences>
            <choiceReferences>Choice_CatalogUpload</choiceReferences>
            <choiceReferences>Choice_OrderGuideUpload</choiceReferences>
            <choiceReferences>Choice_SupplierReferralLeadUpload</choiceReferences>
            <choiceReferences>Choice_SupplierIntegrationPart1</choiceReferences>
            <choiceReferences>Choice_SupplierIntegrationPart2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FirstScreen_CaseRecordTypeSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordType_AdminOps</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypeCustomerService</name>
            <choiceReferences>Choice_OrderGuideRequest</choiceReferences>
            <choiceReferences>Choice_SupplierCall</choiceReferences>
            <choiceReferences>Choice_ConfirmationCall</choiceReferences>
            <choiceReferences>Choice_Other</choiceReferences>
            <choiceReferences>Choice_VendorAdminUpdate</choiceReferences>
            <choiceReferences>Choice_VendorsReferralChatCreation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FirstScreen_CaseRecordTypeSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecordType_CustomerService</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Case_V2</name>
        <label>Create New Case V2</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fillthecountryfield</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;&lt;i&gt;Please fill the country field before creating a case&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Case_V2ACC</name>
        <label>Create New Case V2</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;Please fill the country field before creating a case&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1749</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Final_Screen</name>
            <fieldText>&lt;p&gt;The case &lt;a href=&quot;https://choco.lightning.force.com/lightning/r/Case/{!Get_Case.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Case.CaseNumber}&lt;/a&gt; has been created.&lt;/p&gt;&lt;p&gt;You provided {!CountAttachments} files.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>1881</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getrecordtype</targetReference>
        </connector>
        <fields>
            <name>Helper_Text_SalesOps</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(189, 189, 189); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;em style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;AdminOps will help you with this case &lt;/em&gt;&lt;span style=&quot;font-size: 11px; color: rgb(189, 189, 189); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_AdminUpdate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CatalogUpload</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Helper_Text_CS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 189, 189); font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;CS will help you with this case&lt;/i&gt;&lt;span style=&quot;color: rgb(189, 189, 189); font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(189, 189, 189); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CatalogUpload</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideUpload</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_AdminUpdate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_Of_Chats_To_Be_Created</name>
            <dataType>Number</dataType>
            <fieldText>Number Of Chats To Be Created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideUpload</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_AdminUpdate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CatalogUpload</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_Of_Order_Guides_To_Be_Created</name>
            <dataType>Number</dataType>
            <fieldText>Number Of Order Guides To Be Created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CatalogUpload</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_AdminUpdate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choice_AdminUpdate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CatalogUpload</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Of_Customers_To_Be_Matched_With_Supplier_Catalog</name>
            <dataType>Number</dataType>
            <fieldText># Of Customers To Be Matched With Supplier Catalog</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Unique_Product_ID_per_Product_Unit</name>
            <choiceReferences>UniqueproductIdperproductandunit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unique Product ID per Product &amp; Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Order_Guides_From_Suppliers</name>
            <choiceReferences>OrderGuides</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order Guides From Suppliers?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Drive_Links</name>
            <dataType>String</dataType>
            <fieldText>Drive Links</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject2</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SupplierAccountisMandatory</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Supplier Account is mandatory for MarketplaceDiscovery cases &lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supplier_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Supplier_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Supplier Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SupplierAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart1</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierIntegrationPart2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Language</name>
            <choiceReferences>Language_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Template_List_Request</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Please provide the following info if it is not in the Lead/Account:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;DM Name:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Resto:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Supplier:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customer Number:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Template_List_Upload</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;Please provide the following info if it is not in the Lead/Account:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Create chats between restaurant:&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;restaurant name - phone nr&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;and suppliers:&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;supplier name&amp;nbsp;- phone nr - customer nr&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;chat: yes/no&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;CHATS INFO:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Restaurant name =&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Delivery address =&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Emails in copy =&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Additional comments:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description2</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeAdminOps</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OrderGuideRequest</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierCall</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeCustomerService</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OnlySupplierAccountsNotLeads</name>
        <label>Only Supplier Accounts Not Leads</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SupplierIntegrationCanOnlyBeCreatedFromSupplierAccount</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Supplier Integration Type Cases can only be created for Supplier Type Accounts.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_OrderGuideUpload</name>
        <label>Order Guide Upload</label>
        <locationX>1617</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getrecordtype</targetReference>
        </connector>
        <fields>
            <name>HelperTextAdminOps</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 189, 189); font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;AdminOps will help you with this case &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(189, 189, 189); font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OG_Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OG_DueDate</name>
            <dataType>DateTime</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseDetails</name>
            <fieldText>Case Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CaseDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OG_NumberOfOrderGuidesToBeCreated</name>
                    <dataType>Number</dataType>
                    <fieldText>Number Of Order Guides To Be Created</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SupplierDetails</name>
            <fieldText>Supplier Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SupplierDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OG_SupplierAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supplier_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supplier Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>var_OG_SupplierAccount</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>OG_AddAdditionalSupplierHelpText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please mention &lt;/span&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;any additional Suppliers&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; for this case in the case &lt;/span&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Description&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; (at the bottom of the form).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>OG_SupplierEntityCreationRequired</name>
            <choiceReferences>Choice_SupplierEntityNo</choiceReferences>
            <choiceReferences>Choice_SupplierEntityYes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_SupplierEntityNo</defaultSelectedChoiceReference>
            <fieldText>Supplier Entity Creation Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OG_SupplierEntityDetails</name>
            <fieldText>Supplier Entity Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OG_SupplierEntityCreationRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierEntityYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OG_SupplierUserCreationRequired</name>
            <choiceReferences>Choice_SupplierUserCreationNo</choiceReferences>
            <choiceReferences>Choice_SupplierUserCreationYes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_SupplierUserCreationNo</defaultSelectedChoiceReference>
            <fieldText>Supplier User Creation Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OG_SupplierUserDetails</name>
            <fieldText>Supplier User Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OG_SupplierUserCreationRequired</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_SupplierUserCreationYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BuyerDetails</name>
            <fieldText>Buyer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BuyerDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OG_BuyerEntityCreationRequired</name>
                    <choiceReferences>Choice_BuyerEntityNo</choiceReferences>
                    <choiceReferences>Choice_BuyerEntityYes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_BuyerEntityNo</defaultSelectedChoiceReference>
                    <fieldText>Buyer Entity Creation Required?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OG_BuyerEntityDetails</name>
                    <fieldText>Buyer Entity Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OG_BuyerEntityCreationRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_BuyerEntityYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OG_BuyerUserCreationRequired</name>
                    <choiceReferences>Choice_BuyerNo</choiceReferences>
                    <choiceReferences>Choice_BuyerYes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_BuyerNo</defaultSelectedChoiceReference>
                    <fieldText>Buyer User Creation Required?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OG_BuyerUserDetails</name>
                    <fieldText>Buyer User Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OG_BuyerUserCreationRequired</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_BuyerYes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OG_FreeTextTemplate</name>
                    <fieldText>&lt;p&gt;Please provide the following if applicable in the field below:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Additional Supplier(s)&lt;/li&gt;&lt;li&gt;Chat Id&lt;/li&gt;&lt;li&gt;Special instructions (categories, units)&lt;/li&gt;&lt;li&gt;CC Email&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OG_Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Second screen after no attachments were found</description>
        <name>Second_Chance_to_Upload</name>
        <label>Second Chance to Upload</label>
        <locationX>1705</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <fields>
            <name>SecondChance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Are you sure you want to create a case without an attachment uploaded? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>1749</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Records</targetReference>
        </connector>
        <fields>
            <name>Text_Second_Screen</name>
            <fieldText>&lt;p&gt;Upload documents here if necessary.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FileDocumentsId</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCaseRecordType</name>
        <label>Select Case Record Type</label>
        <locationX>1749</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CaseTypeScreen</targetReference>
        </connector>
        <fields>
            <name>PleaseSelectRecordType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Please select Case Record Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstScreen_CaseRecordTypeSelection</name>
            <choiceReferences>RecordType_AdminOps</choiceReferences>
            <choiceReferences>RecordType_CustomerService</choiceReferences>
            <choiceReferences>RecordType_MarketplaceDiscovery</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supplier_integration_Cases_can_only_be_created_from_Supplier_Accounts</name>
        <label>Supplier integration Cases can only be created from Supplier Accounts</label>
        <locationX>1370</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SupplierIntegrationCasesOnly</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Supplier Integration Cases can only be created for Supplier Type Accounts.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1623</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectCaseRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0121r000000xJ2VAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountAttachments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FileDocumentsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierLeadLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_Var_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>List Upload</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_OG_SupplierAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
