my project/force-app/main/default/flows/Create_Case_From_External_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>extract_SNS</name>
        <label>extract SNS</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>ExtractJSONValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Buyer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputJSONString</name>
            <value>
                <elementReference>InputJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keysToExtract</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;value1&quot;,&quot;value&quot;:&quot;body.referredUserId&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;value2&quot;,&quot;value&quot;:&quot;body.referrerUserId&quot;,&quot;order&quot;:1},{&quot;key&quot;:&quot;value3&quot;,&quot;value&quot;:&quot;body.supplierRefId&quot;,&quot;order&quot;:2},{&quot;key&quot;:&quot;value4&quot;,&quot;value&quot;:&quot;body.buyerRefId&quot;,&quot;order&quot;:3},{&quot;key&quot;:&quot;value5&quot;,&quot;value&quot;:&quot;body.referralCode&quot;,&quot;order&quot;:4}]</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>referredUserId</assignToReference>
            <name>value1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>referrerUserId</assignToReference>
            <name>value2</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>supplierRefId</assignToReference>
            <name>value3</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>buyerRefId</assignToReference>
            <name>value4</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>referralCode</assignToReference>
            <name>value5</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Input</name>
        <label>assign Input</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>InputJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Body__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>extract_SNS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Ouput_0</name>
        <label>assign Ouput</label>
        <locationX>308</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SupplierAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SeparatorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>SeparatorFormula</name>
        <dataType>String</dataType>
        <expression>IF({!SupplierAccountName}&lt;&gt;&quot;&quot; &amp;&amp; {!BuyerAccountName} &lt;&gt; &quot;&quot;, &quot; + &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create Case From External Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case From External Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>308</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>BuyerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_through_Feature__c</field>
            <value>
                <stringValue>Invite Link</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>SupplierAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Chat Creation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Buyer</name>
        <label>get Buyer</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Admin_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>buyerRefId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BuyerAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type</name>
        <label>get Record Type</label>
        <locationX>308</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Ouput_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace_Discovery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Supplier</name>
        <label>get Supplier</label>
        <locationX>308</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Admin_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>supplierRefId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SupplierAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>308</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>Created_Record_Id__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>https://zapier.com/app/editor/161510773</stringValue>
            </value>
        </filters>
        <object>External_Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>assign_Input</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Supplier User: https://admin.choco.com/users/{!referrerUserId}
Buyer User: https://admin.choco.com/users/{!referredUserId}</text>
    </textTemplates>
    <variables>
        <name>BuyerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>buyerRefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referredUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referrerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Invite link: new chat created </stringValue>
        </value>
    </variables>
    <variables>
        <name>SupplierAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupplierAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierRefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
