my project/force-app/main/default/flows/CreateEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Default_Last_Name</name>
        <label>Set Default Last Name</label>
        <locationX>1571</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inbound_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Invitee_Last_Name</name>
        <label>Set Invitee Last Name</label>
        <locationX>1574</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invitee_Last_Name_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account</name>
        <label>Account?</label>
        <locationX>542</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Account</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign</name>
        <label>Campaign?</label>
        <locationX>555</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Find_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Campaign</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case</name>
        <label>Case?</label>
        <locationX>543</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Find_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Case</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>555</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Find_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contact</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Matched</name>
        <label>Contact Matched?</label>
        <locationX>545</locationX>
        <locationY>921</locationY>
        <defaultConnector>
            <targetReference>Match_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found with Invitee Email</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>Invitee Email matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Matched_0</name>
        <label>Contact Matched?</label>
        <locationX>715</locationX>
        <locationY>1225</locationY>
        <defaultConnector>
            <targetReference>Match_Lead_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found with Invitee Email</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>Invitee Email matches Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract</name>
        <label>Contract?</label>
        <locationX>549</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Contract</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>The main goal of this flow is to create an Event ( a type of Activity ).  But we must create that Event within an existing record.

If all previous attempts at finding a record failed ( via SFID, or Invitee Email ): then we need to create a record.

We will always create a Lead when we couldn&apos;t find a record.</description>
        <name>Do_we_have_a_Record</name>
        <label>Do we have a Record?</label>
        <locationX>1571</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>Create_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Invitee_Last_Name</targetReference>
            </connector>
            <label>Create Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>While looking up the records, if we found one, we would have set the OwnerId as the record owner.

In the last step, we attempted to overwrite the OwnerId with the id of the user whose email matches the publisher.

So at this point, we hope to have an owner defined.  If we don&apos;t we&apos;ll have to look up the system admin.</description>
        <name>Event_Owner</name>
        <label>Event Owner?</label>
        <locationX>1171</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Find_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event Owner not Present</defaultConnectorLabel>
        <rules>
            <name>Event_Owner_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>Event Owner Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invitee_Last_Name_Exists</name>
        <label>Invitee Last Name Exists?</label>
        <locationX>1712</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Last Name</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inbound_Record</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>We cannot update a converted lead.  If the lead is converted, we need to try and find the contact it was converted to.</description>
        <name>Is_it_Converted</name>
        <label>Is it Converted?</label>
        <locationX>796</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Active</defaultConnectorLabel>
        <rules>
            <name>Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadConvertedAt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Converted_Contact</targetReference>
            </connector>
            <label>Lead Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead</name>
        <label>Lead?</label>
        <locationX>550</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Match_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Lead</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>SFID matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Matched</name>
        <label>Lead Matched?</label>
        <locationX>549</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Match_Contact_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Invitee_Email_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>Invitee Email matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Matched_0</name>
        <label>Lead Matched?</label>
        <locationX>796</locationX>
        <locationY>1399</locationY>
        <defaultConnector>
            <targetReference>Find_Publisher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Invitee_Phone_matches_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Converted</targetReference>
            </connector>
            <label>Invitee Phone matches Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity</name>
        <label>Opportunity?</label>
        <locationX>544</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Find_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID not Opportunity</defaultConnectorLabel>
        <rules>
            <name>SFID_matches_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Publisher</targetReference>
            </connector>
            <label>SFID matches Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>If we cannot find the system admin profile, we cannot find the system admin.  And if we&apos;re at this point in the logic, we have no other owner.

So there&apos;s no path forward if the profile is not found.</description>
        <name>Profile_Found</name>
        <label>Profile Found?</label>
        <locationX>1304</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User</targetReference>
            </connector>
            <label>System Admin Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Provided</name>
        <label>SFID Provided?</label>
        <locationX>153</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Match_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFID</defaultConnectorLabel>
        <rules>
            <name>SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCalendlyAction.ObjectId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Account</targetReference>
            </connector>
            <label>SFID</label>
        </rules>
    </decisions>
    <decisions>
        <description>So there&apos;s no path forward if the system admin is not found.</description>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>1307</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Exit Flow</defaultConnectorLabel>
        <rules>
            <name>System_Admin_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_have_a_Record</targetReference>
            </connector>
            <label>System Admin Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalendlyPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NewCalendlyAction.CustomResponse1__c},&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CalendlyPhoneNumeric</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!NewCalendlyAction.CustomResponse1__c},&quot; &quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EventOwnerID</name>
        <dataType>String</dataType>
        <expression>IF(
 LEFT({!OwnerId},3) = &apos;00G&apos;,
 &apos;0051r000007tCTjAAM&apos;,
 {!OwnerId}
)</expression>
    </formulas>
    <formulas>
        <name>FinalEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!InitialEmail}),{!NewCalendlyAction.InviteeEmail__c},{!InitialEmail})</expression>
    </formulas>
    <formulas>
        <name>FinalPhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!InitialPhone}),{!CalendlyPhone},{!InitialPhone})</expression>
    </formulas>
    <interviewLabel>CreateEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEvent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>1936</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Update_Lead_With_Calendly_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCalendlyAction.EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteeUuid__c</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EventOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!NewCalendlyAction.EventSubject__c} - Calendly - {!NewCalendlyAction.InviteeUuid__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>WhatRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>1731</locationX>
        <locationY>666</locationY>
        <assignRecordIdToReference>WhoRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Company Placeholder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbound_Date_Calendly__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>+{!CalendlyPhone}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inbound_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>395</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Opportunity</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>407</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>398</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Contract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>403</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Lead</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contract</name>
        <label>Find Contract</label>
        <locationX>401</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Campaign</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>This lookup with find the converted contact, or set RecordId to null since the converted lead cannot be updated.</description>
        <name>Find_Converted_Contact</name>
        <label>Find Converted Contact</label>
        <locationX>971</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Publisher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Lead</name>
        <label>Find Lead</label>
        <locationX>401</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Match_Contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>397</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Find_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>WhatRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Profile</name>
        <label>Find Profile</label>
        <locationX>1170</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Publisher</name>
        <label>Find Publisher</label>
        <locationX>973</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>1172</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin API</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Inbound_Record</name>
        <label>Get Inbound Record</label>
        <locationX>1579</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Match_Contact</name>
        <label>Match Contact</label>
        <locationX>291</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Match_Contact_Phone</name>
        <label>Match Contact Phone</label>
        <locationX>557</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Matched_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Match_Lead</name>
        <label>Match Lead</label>
        <locationX>403</locationX>
        <locationY>1134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Match_Lead_0</name>
        <label>Match Lead</label>
        <locationX>559</locationX>
        <locationY>1397</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Matched_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Matched_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendlyPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadConvertedAt</assignToReference>
            <field>ConvertedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InitialPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_With_Calendly_Date</name>
        <label>Update Lead With Calendly Date</label>
        <locationX>2150</locationX>
        <locationY>190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>FinalEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbound_Date_Calendly__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>FinalPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SFID_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadConvertedAt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCalendlyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
