my project/force-app/main/default/flows/Disqualified_Supplier_Account_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Region_Decisiondis</name>
        <label>Region Decision</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>UpdateforRegion8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Region1dis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region1changeowner</targetReference>
            </connector>
            <label>Region1</label>
        </rules>
        <rules>
            <name>Region2dis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region2changeowner</targetReference>
            </connector>
            <label>Region2</label>
        </rules>
        <rules>
            <name>Region3dis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region3changeowner</targetReference>
            </connector>
            <label>Region3</label>
        </rules>
        <rules>
            <name>Region4dis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region4changeowner</targetReference>
            </connector>
            <label>Region4</label>
        </rules>
        <rules>
            <name>Region5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Record</targetReference>
            </connector>
            <label>Region5</label>
        </rules>
    </decisions>
    <interviewLabel>Disqualified Supplier Account Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disqualified Supplier Account Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Region5_changeowner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ale@choco.com.staging</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Region1changeowner</name>
        <label>Region1changeowner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051r000008c4bfAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Region2changeowner</name>
        <label>Region2changeowner</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051r000009oVLvAAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Region3changeowner</name>
        <label>Region3changeowner</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051r000009oNtaAAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Region4changeowner</name>
        <label>Region4changeowner</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051r000009veaRAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Region5_changeowner</name>
        <label>Region5 changeowner</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateforRegion8</name>
        <label>UpdateforRegion8</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051r000009w1kjAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Region_Decisiondis</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>RevisitDisqualifyApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActionRevisitDisqualify__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disqualify</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
