my project/force-app/main/default/flows/Email_to_Case_Assignment_Order_Guide_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Regex_Subject</name>
        <label>Regex Subject</label>
        <locationX>373</locationX>
        <locationY>318</locationY>
        <actionName>regexMatch_OrderGuideRef</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Subject_has_RefId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>regexExpression</name>
            <value>
                <elementReference>RegexExpression</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Text</name>
            <value>
                <elementReference>Get_Email.Subject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>RegexExpression</name>
        <dataType>String</dataType>
        <value>
            <stringValue>R[a-zA-Z0-9]{5}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_Subject_has_RefId</name>
        <label>Check if Subject has RefId</label>
        <locationX>592</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RefId_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegexCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Old_Case</targetReference>
            </connector>
            <label>RefId Valid</label>
        </rules>
    </decisions>
    <formulas>
        <name>RegexCheck</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Regex_Subject},{!RegexExpression})</expression>
    </formulas>
    <interviewLabel>Email to Case Assignment (Order Guide Emails) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Case Assignment (Order Guide Emails)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Old_Case</name>
        <label>Find Old Case</label>
        <locationX>829</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_to_Case_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_RefID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Regex_Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rated, Merged, Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email</name>
        <label>Get Email</label>
        <locationX>176</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Regex_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Initial_Case_Related_to_Email</name>
        <label>Close Initial Case Related to Email</label>
        <locationX>1068</locationX>
        <locationY>514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_to_Case_Assignment</name>
        <label>Update Email to Case Assignment</label>
        <locationX>829</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Close_Initial_Case_Related_to_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>Find_Old_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Email</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
