my project/force-app/main/default/flows/Inbound_Case_Case_Outcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Due_Date</name>
        <label>Due Date &amp; Subject</label>
        <locationX>1873</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>DueDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubjectVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>RadioButtonChoiceExistingBuyerLeadAccountCreateTask</name>
        <choiceText>Existing Buyer Lead/Account - Create Task</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ExistingBuyerLeadAccountCreateTask</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceExistingSupplierLeadAccountCreateTask</name>
        <choiceText>Existing Supplier Lead/Account - Create Task</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ExistingSupplierLeadAccountCreateTask</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceMergedDuplicates</name>
        <choiceText>Merged Duplicates</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MergedDuplicates</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceNewBuyerLeadCreateTask</name>
        <choiceText>New Buyer Lead - Create Task</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NewBuyerLeadCreateTask</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceNewSupplierLeadCreateTask</name>
        <choiceText>New Supplier Lead - Create Task</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NewSupplierLeadCreateTask</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceNonQualified</name>
        <choiceText>Non Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NonQualified</elementReference>
        </value>
    </choices>
    <choices>
        <name>RadioButtonChoiceThreeCallsNoAnswer</name>
        <choiceText>Three Calls, No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ThreeCallsNoAnswer</elementReference>
        </value>
    </choices>
    <constants>
        <name>ExistingBuyerLeadAccountCreateTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Buyer Lead/Account - Create Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExistingSupplierLeadAccountCreateTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Supplier Lead/Account - Create Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>MergedDuplicates</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Merged Duplicates</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewBuyerLeadCreateTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Buyer Lead - Create Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>NewSupplierLeadCreateTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Supplier Lead - Create Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>NonQualified</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Qualified</stringValue>
        </value>
    </constants>
    <constants>
        <name>ThreeCallsNoAnswer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Three Calls, No Answer</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_a_Task</name>
        <label>Create a Task?</label>
        <locationX>1116</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_has_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceMergedDuplicates</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceNonQualified</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceThreeCallsNoAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2nd_Screen</targetReference>
            </connector>
            <label>Task has to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_a_Task_0</name>
        <label>Create a Task?</label>
        <locationX>1551</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Final_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_has_to_be_created_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceMergedDuplicates</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceNonQualified</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chose_Case_Outcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RadioButtonChoiceThreeCallsNoAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_2</targetReference>
            </connector>
            <label>Task has to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Account</name>
        <label>Lead or Account</label>
        <locationX>719</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Create_a_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account is related</label>
        </rules>
        <rules>
            <name>Lead_is_related</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead is related</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TaskOwnerChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmployeeNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(ISBLANK({!Due_Date1_Screen})), 
{!Due_Date1_Screen}, 
DATEVALUE({!Due_Date_with_Time_Screen})
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Subject</name>
        <dataType>String</dataType>
        <expression>IF(
{!Subject} != &quot;&quot;, 
{!Subject},
IF(
NOT(ISNULL({!Get_Account.Id})),
&quot;Inbound &quot;&amp;{!Get_Case_2.Case_Outcome__c}&amp;&quot; &quot;&amp; {!Get_Account.Name},
IF(
NOT(ISNULL({!Get_Case.Lead__c})),
&quot;Inbound &quot;&amp;{!Get_Case_2.Case_Outcome__c}&amp;&quot; &quot;&amp;  {!Get_Lead.Company},
&quot;Inbound &quot;&amp;{!Get_Case.Case_Outcome__c})))</expression>
    </formulas>
    <formulas>
        <name>IsReminderSet</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Set_Due_Date_with_time} = TRUE,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Time_Formula</name>
        <dataType>DateTime</dataType>
        <expression>IF(
NOT(ISBLANK({!Due_Date_with_Time_Screen})), 
{!Due_Date_with_Time_Screen}, 
NULL)</expression>
    </formulas>
    <interviewLabel>Inbound Case Case Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Case Case Outcome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_task</name>
        <label>Create new task</label>
        <locationX>1873</locationX>
        <locationY>330</locationY>
        <assignRecordIdToReference>CreatedTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Final_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <elementReference>IsReminderSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Task_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Due_Date_with_Time_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>558</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_or_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_2</name>
        <label>Get Case 2</label>
        <locationX>1694</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>845</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_User</name>
        <label>get User</label>
        <locationX>354</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1373</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Create_a_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Outcome__c</field>
            <value>
                <elementReference>Chose_Case_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1818</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Update</name>
            <fieldText>&lt;p&gt;The case has been updated. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen_0</name>
        <label>Final Screen</label>
        <locationX>2031</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Update_0</name>
            <fieldText>&lt;p&gt;The case has been updated and a task has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inbound_Case_Case_Outcome</name>
        <label>Inbound Case - Case Outcome</label>
        <locationX>167</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_User</targetReference>
        </connector>
        <fields>
            <name>Chose_Case_Outcome</name>
            <choiceReferences>RadioButtonChoiceExistingBuyerLeadAccountCreateTask</choiceReferences>
            <choiceReferences>RadioButtonChoiceExistingSupplierLeadAccountCreateTask</choiceReferences>
            <choiceReferences>RadioButtonChoiceMergedDuplicates</choiceReferences>
            <choiceReferences>RadioButtonChoiceNewBuyerLeadCreateTask</choiceReferences>
            <choiceReferences>RadioButtonChoiceNewSupplierLeadCreateTask</choiceReferences>
            <choiceReferences>RadioButtonChoiceNonQualified</choiceReferences>
            <choiceReferences>RadioButtonChoiceThreeCallsNoAnswer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chose Case Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X2nd_Screen</name>
        <label>2nd Screen</label>
        <locationX>1373</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Create_Task</name>
            <fieldText>&lt;p&gt;Create a task: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Type_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date1_Screen</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Set_Due_Date_with_time</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Due_Date_with_Time_Screen</name>
            <dataType>DateTime</dataType>
            <fieldText>Due Date with Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Set_Due_Date_with_time</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_Due_Date_with_time</name>
            <dataType>Boolean</dataType>
            <fieldText>Set Due Date with time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Owner</name>
            <choiceReferences>TaskOwnerChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Inbound_Case_Case_Outcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DueDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
