my project/force-app/main/default/flows/Inbound_Leads_to_Slack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Doordash_Slack_0</name>
        <label>Doordash Slack</label>
        <locationX>921</locationX>
        <locationY>354</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0L69000017AzZaEAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Region_1_Inbound_Slack_0_0</name>
        <label>Region 1 Inbound Slack</label>
        <locationX>912</locationX>
        <locationY>50</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VM_Referral_or_not</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0L69000019Ch7mEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Region_1_Inbound_VMSlack</name>
        <label>Region 1 Inbound VM Slack</label>
        <locationX>1263</locationX>
        <locationY>52</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>R1VMSlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0L69000019Ch7rEAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Region_2_Slack</name>
        <label>Region 2 Slack</label>
        <locationX>919</locationX>
        <locationY>187</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SlackMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a0L69000017AzIEEA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Channel_to_Send_to</name>
        <label>Check Channel to Send to</label>
        <locationX>606</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Region_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound_Region1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_1_Inbound_Slack_0_0</targetReference>
            </connector>
            <label>Region 1</label>
        </rules>
        <rules>
            <name>Region_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound_Region2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_2_Slack</targetReference>
            </connector>
            <label>Region 2</label>
        </rules>
        <rules>
            <name>Doordash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MKT_utm_campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>doordash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doordash_Slack_0</targetReference>
            </connector>
            <label>Doordash</label>
        </rules>
    </decisions>
    <decisions>
        <name>VM_Referral_or_not</name>
        <label>VM Referral or not</label>
        <locationX>1036</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VM_referral</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier Invite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral within Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_1_Inbound_VMSlack</targetReference>
            </connector>
            <label>VM referral</label>
        </rules>
    </decisions>
    <interviewLabel>Inbound Leads to Slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Leads to Slack</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Check_Channel_to_Send_to</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>R1VMSlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>💎 New Inbound Lead:
Phone: {!$Record.Phone}
Source: {!$Record.LeadSource}
Invite by Supplier: {!$Record.AccountReferralName__c}
Admin ID: {!$Record.Account_Referral__r.Admin_ID__c}
Campaign: {!$Record.MKT_utm_campaign__c}
Location: {!$Record.City}, {!$Record.Country}</text>
    </textTemplates>
    <textTemplates>
        <name>SlackMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>💎 
New Inbound Lead:
{!$Record.Phone}
{!$Record.LeadSource} | {!$Record.Referral_Company__c} | {!$Record.MKT_utm_campaign__c}
{!$Record.City}, {!$Record.Country}</text>
    </textTemplates>
</Flow>
