my project/force-app/main/default/flows/Lead_Weekly_Churn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Seven_Days_Emails</name>
        <label>Send Seven Days Emails</label>
        <locationX>50</locationX>
        <locationY>1644</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SevenDaysTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailAddressesCollectionFor7Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>List of churned leads in the past 7 Days!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Email_To_7_Days_Collection_0</name>
        <label>Add Email To 7 Days Collection</label>
        <locationX>270</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>EmailAddressesCollectionFor7Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_7_Days_Email_Present_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_7_Days_Email_Present_0</name>
        <label>Set 7 Days Email Present</label>
        <locationX>270</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>SevenDaysEmailPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_OwnerId_of_Leads_7_Days</name>
        <label>Store OwnerId of Leads 7 Days</label>
        <locationX>270</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>OwnerId7days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Leads.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Leads</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_7_Days_Emails_Are_Sent</name>
        <label>Check if 7 Days Emails Are Sent</label>
        <locationX>182</locationX>
        <locationY>1524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seven_Days_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SevenDaysEmailPresent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Seven_Days_Emails</targetReference>
            </connector>
            <label>Seven Days Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHeck_if_OwnerId_exists_in_Leads</name>
        <label>Check Leads Matching</label>
        <locationX>402</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerId_exists_in_leads_with_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId7days</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_Users.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Email_To_7_Days_Collection_0</targetReference>
            </connector>
            <label>Matching User with Leads Ordering 7 days ago.</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Weekly Churn {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Lead Weekly Churn</label>
    <loops>
        <name>Loop_over_Leads</name>
        <label>Loop over Leads</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Buyer_Leads_with_Orders_7_Days_Ago</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_OwnerId_of_Leads_7_Days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Active_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Users</name>
        <label>Loop over Users</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_All_Active_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHeck_if_OwnerId_exists_in_Leads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_7_Days_Emails_Are_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To Do: Get RoleID and Filter By Role</description>
        <name>Get_All_Active_Users</name>
        <label>Get All Active Users</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Buyer Lead Records that have ordered 7 or 14 Days Ago.</description>
        <name>Get_Buyer_Leads_with_Orders_7_Days_Ago</name>
        <label>Get Buyer Leads with Orders 7 Days Ago</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>buyer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Last_Order_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Days_since_Last_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Buyer_Leads_with_Orders_7_Days_Ago</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-02-22</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Churned Leads within 7 days template</description>
        <name>SevenDaysTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello your onboarded leads have not placed an order in the last 7 days&amp;nbsp;👀&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://choco.lightning.force.com/lightning/r/Report/00O6900000CFuFVEA1/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://choco.lightning.force.com/lightning/r/Report/00O6900000CFuFVEA1/view?queryScope=userFolders&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Please check for the below bullets or log a closing difficulty reason!&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Did all orders go through?  → Check Admin&lt;/li&gt;&lt;li&gt;Did any interaction happen between user &amp;amp; supplier in the chat ? →  Check the history on Admin&lt;/li&gt;&lt;li&gt;Is the product list complete? → Check product list + call the user&lt;/li&gt;&lt;li&gt;Are all users who place orders onboarded to Choco?&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Let&apos;s get this Choco user&amp;nbsp;👊  &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailAddressesCollectionFor7Days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FourteenDaysEmailPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OwnerId7days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SevenDaysEmailPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
