my project/force-app/main/default/flows/Lead_After_Save_Converted_Account_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A new user signed up to join your buyer. Contact them and get them started on their Choco journey.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New User</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Existing_Buyer_Account_Organic_Lead_Type</name>
        <label>Check for Existing Buyer Account Organic Lead Type</label>
        <locationX>231</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Reassign_by_Referrals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Organic_Lead_is_Existing_Buyer_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organic_Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Task_to_notify_Existing_Account_Owner</targetReference>
            </connector>
            <label>Organic Lead is Existing Buyer Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Converted_Lead_has_an_Account_Id</name>
        <label>Check if Converted Lead has an Account Id</label>
        <locationX>517</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Buyer_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Account_Id.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Buyer_Account_Organic_Lead_Type</targetReference>
            </connector>
            <label>Has Buyer Account Id</label>
        </rules>
        <rules>
            <name>Has_Supplier_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Converted_Account_Id.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Reassign_by_Referrals</targetReference>
            </connector>
            <label>Has Supplier Account Id</label>
        </rules>
    </decisions>
    <description>https://choco.atlassian.net/browse/OPSSYS-1170
Change the Conversion process for the Lead</description>
    <environments>Default</environments>
    <interviewLabel>Lead After Save Copy Account Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead After Save Converted Account Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task_to_notify_Existing_Account_Owner</name>
        <label>Create a Task to notify Existing Account Owner</label>
        <locationX>99</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Reassign_by_Referrals</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Converted_Account_Id.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Converted_Account_Id</name>
        <label>Get Converted Account Id</label>
        <locationX>517</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Converted_Lead_has_an_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Reassign_by_Referrals</name>
        <label>Copy 1 of Reassign by Referrals</label>
        <locationX>539</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Copy_1_of_Reassign_for_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_By_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_By_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_By_Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Reassign_Chats</name>
        <label>Copy 1 of Reassign Chats</label>
        <locationX>539</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Copy_1_of_Reassign_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BuyerLead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplierAccount__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Chat__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Reassign_Contacts</name>
        <label>Copy 1 of Reassign Contacts</label>
        <locationX>539</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Copy_1_of_Reassign_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Reassign_Event</name>
        <label>Copy 1 of Reassign Event</label>
        <locationX>539</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>Update_Supplier_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Reassign_for_Referrals</name>
        <label>Copy 1 of Reassign for Referrals</label>
        <locationX>539</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Copy_1_of_Reassign_Chats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_For_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_For_Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Reassign_Task</name>
        <label>Copy 1 of Reassign Task</label>
        <locationX>539</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Copy_1_of_Reassign_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_by_Referrals</name>
        <label>Reassign by Referrals</label>
        <locationX>231</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>Reassign_for_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_By_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_By_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_By_Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Chats</name>
        <label>Reassign Chats</label>
        <locationX>231</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>Reassign_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BuyerAccount__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyerLead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Chat__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Contacts</name>
        <label>Reassign Contacts</label>
        <locationX>231</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Reassign_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Event</name>
        <label>Reassign Event</label>
        <locationX>231</locationX>
        <locationY>1464</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_for_Referrals</name>
        <label>Reassign for Referrals</label>
        <locationX>231</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Reassign_Chats</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_For_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_For_Lead__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reassign_Task</name>
        <label>Reassign Task</label>
        <locationX>231</locationX>
        <locationY>1344</locationY>
        <connector>
            <targetReference>Reassign_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>231</locationX>
        <locationY>1584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Supplier_Case</name>
        <label>Update Supplier Case</label>
        <locationX>539</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Supplier_Account__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Lead_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Converted_Account_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubjectorDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A Lead has got mapped to the Account.&lt;/p&gt;&lt;p&gt;Lead Name: {!$Record.FirstName}{!$Record.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
