my project/force-app/main/default/flows/Manual_Report_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CustomReportv2</name>
        <label>CustomReportv2</label>
        <locationX>1522</locationX>
        <locationY>569</locationY>
        <actionName>CustomReportv2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paramList</name>
            <value>
                <elementReference>Parameters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Request_Report_Action</name>
        <label>Request Report Action</label>
        <locationX>1370</locationX>
        <locationY>570</locationY>
        <actionName>SalesforceReportRequest</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>paramList</name>
            <value>
                <elementReference>Parameters</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Creates the list of parameters to pass to the apex action. 
Parameters are added from the formulars that format name and value in to a URLparameter</description>
        <name>AssigneParameters</name>
        <label>AssignParameters</label>
        <locationX>1522</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>frequencyParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dateFromFormattedParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dateToParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>emailParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>languageParameter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parameters</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>accoundIdParameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomReportv2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>customFrequencyChoice</name>
        <choiceText>Custom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>monthlyFrequencyChoice</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>weeklyFrequencyChoice</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>weekly</stringValue>
        </value>
    </choices>
    <description>CC-410
Sends user input to the Salesforce report service</description>
    <dynamicChoiceSets>
        <description>This is a a test on the language field</description>
        <name>Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>accoundIdParameter</name>
        <dataType>String</dataType>
        <expression>&quot;account=&quot;&amp;{!Get_Account_Details.Admin_ID__c}</expression>
    </formulas>
    <formulas>
        <name>dateFromFormattedParameter</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Report_Manual_Frequency} = &quot;Custom&quot;,&quot;from=&quot; &amp; TEXT({!Report_Date_From}),
    IF({!Report_Manual_Frequency} = &quot;Monthly&quot;,
        &quot;from=&quot; &amp; TEXT(YEAR({!Report_Date_From})) &amp; &apos;-&apos; &amp; LPAD(TEXT(MONTH({!Report_Date_From})),2,&quot;0&quot;),
    &quot;from=&quot; &amp; TEXT(YEAR({!Report_Date_From})) &amp; &apos;-W&apos; &amp; LPAD(TEXT(IF( CEILING( ( {!Report_Date_From}- DATE( YEAR( {!Report_Date_From}), 1, 1) + 1) / 7) &gt; 52, 52,CEILING( ( {!Report_Date_From}- DATE( YEAR( {!Report_Date_From}), 1, 1) + 1) / 7))),2,&quot;0&quot;)))</expression>
    </formulas>
    <formulas>
        <name>dateFromParameter</name>
        <dataType>String</dataType>
        <expression>&quot;from=&quot;&amp;TEXT({!Report_Date_From})</expression>
    </formulas>
    <formulas>
        <name>dateToParameter</name>
        <dataType>String</dataType>
        <expression>&quot;to=&quot;&amp;TEXT({!Report_Date_To})</expression>
    </formulas>
    <formulas>
        <name>emailParameter</name>
        <dataType>String</dataType>
        <expression>&quot;email=&quot;&amp;{!Report_Manual_Email}</expression>
    </formulas>
    <formulas>
        <name>frequencyParameter</name>
        <dataType>String</dataType>
        <expression>&quot;frequency=&quot;&amp;{!Report_Manual_Frequency}</expression>
    </formulas>
    <formulas>
        <name>languageParameter</name>
        <dataType>String</dataType>
        <expression>&quot;language=&quot;&amp;{!Language1}</expression>
    </formulas>
    <formulas>
        <description>Displays a message for the user based on the response of the server (responseMessage)</description>
        <name>responseMessage</name>
        <dataType>String</dataType>
        <expression>IF({!response}== &quot;200&quot;,&quot;Your Report request has been received&quot;,&quot;There was an error with your request: &quot; &amp;{!response})</expression>
    </formulas>
    <interviewLabel>Manual Report Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Report Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Admin ID</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>1522</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssigneParameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1522</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 137, 11);&quot;&gt;Your report is being processed and will be sent via email shortly to: {!Report_Manual_Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>response</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>200</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FailedMessageText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 162, 0);&quot;&gt;{!response}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(173, 0, 0);&quot;&gt;There was a technical problem with your request&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>response</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>200</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Enter the report filters</description>
        <name>Request_Report</name>
        <label>Request Report</label>
        <locationX>1522</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <fields>
            <name>FrequencyHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 10px;&quot;&gt;You have the option of sending one-time reports here. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 10px;&quot;&gt;For weekly and monthly reports, only the &quot;from&quot; date will be considered. We will not send reports for multiple weeks/months.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(63, 63, 63); font-size: 10px;&quot;&gt;Please be patient after submission. Emails can take up to 15 mins to arrive.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Report_Manual_Frequency</name>
            <choiceReferences>weeklyFrequencyChoice</choiceReferences>
            <choiceReferences>monthlyFrequencyChoice</choiceReferences>
            <choiceReferences>customFrequencyChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Timespan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Report_Date_From</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Report_Date_To</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Report Date To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Report_Manual_Frequency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>customFrequencyChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Report_Manual_Email</name>
            <dataType>String</dataType>
            <fieldText>Email Addresses to Send to</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;You can add multiple comma , separated email addresses&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Language1</name>
            <choiceReferences>Language</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1396</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Request_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdminID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parameters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Response of the server as a string
ok = 200</description>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
