my project/force-app/main/default/flows/NAB_Opportunity_Update_the_Status_from_the_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_to_Active_Buyer</name>
        <label>Set to Active Buyer</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Buyer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserFullNameCustom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Who_is_the_DM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Who_is_the_DM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Who_makes_the_orders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Who_makes_the_orders__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Who_still_needs_to_be_onboarded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Who_still_needs_to_be_onboarded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Which_Suppliers_Are_Missing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Which_Vendors_Are_Missing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Storytelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Storytelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.CloserUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Closed_Lost</name>
        <label>Set to Closed Lost</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Closer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserFullNameCustom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.CloserUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_status1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stage_changed_to</name>
        <label>Stage changed to</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Active_Buyer</targetReference>
            </connector>
            <label>Closed:succeeded</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <description>Created as part of Lead2Opp Project in September 2022</description>
    <environments>Default</environments>
    <formulas>
        <description>User.Name (Full Name) Can not be user properly in flows due to it&apos;s unique circumstances. This serves as a custom User.Name (Full Name) variable</description>
        <name>UserFullNameCustom</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName} &amp; &quot; &quot; &amp; {!$Record.Owner.LastName}</expression>
    </formulas>
    <interviewLabel>NAB Opportunity - Update the Status from the account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAB Opportunity - Update the Status from the account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_changed_to</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_status</name>
        <label>Update account status</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_status1</name>
        <label>Update account status</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAB</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
