my project/force-app/main/default/flows/Nb_active_Chats_from_Account_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_the_vendor_opportunity_starting_or_ending</name>
        <label>Is the vendor opportunity starting or ending?</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not matching criterias</defaultConnectorLabel>
        <rules>
            <name>VM_opportunity_Starting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Package_3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_active_chats_before_start</targetReference>
            </connector>
            <label>VM opportunity Starting</label>
        </rules>
        <rules>
            <name>VM_opportunity_ending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Package_3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_of_active_chats_at_end_of_partnership</targetReference>
            </connector>
            <label>VM opportunity ending</label>
        </rules>
        <rules>
            <name>Same_Day_VM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Package_3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_active_chat_before_start_and_at_end_time</targetReference>
            </connector>
            <label>Same Day VM</label>
        </rules>
    </decisions>
    <formulas>
        <name>NbActiveChatsBeforeStart</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Nr_of_active_Buyers__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NbActiveChatsEndPartnership</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Nr_of_active_Buyers__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel># active Chats from Account to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label># active Chats from Account to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_active_chat_before_start_and_at_end_time</name>
        <label>Update # active chat before start and at end time</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>NbActiveChatsAtEndOfPartnership__c</field>
            <value>
                <elementReference>NbActiveChatsEndPartnership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NbOfActiveChatsBeforeStart__c</field>
            <value>
                <elementReference>NbActiveChatsBeforeStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_active_chats_before_start</name>
        <label>Update the # active chats before start</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>NbOfActiveChatsBeforeStart__c</field>
            <value>
                <elementReference>NbActiveChatsBeforeStart</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_of_active_chats_at_end_of_partnership</name>
        <label>Update the # of active chats at end of partnership</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>NbActiveChatsAtEndOfPartnership__c</field>
            <value>
                <elementReference>NbActiveChatsEndPartnership</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_vendor_opportunity_starting_or_ending</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
