my project/force-app/main/default/flows/New_Case_Flow_Supplier_Invite_Updated_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Newcaseexistingaccount</name>
        <label>Newcaseexistingaccount</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>New_Case</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Vendor Invite</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>descriptionLeadCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>[Vendor Invite] {!newGet_Record_Referral.Referral_For_Account__r.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>newcaseLead</name>
        <label>newcaseLead</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>New_Case</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Vendor Invite</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>descriptionLeadCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Lead__c</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Lead__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region__c</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Lead__r.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Region_Dropdown__c</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Lead__r.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>[Vendor Invite]{!$Record.Referral_For_Lead__r.Company}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>newtaskAccount</name>
        <label>newtaskAccount</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Newcaseexistingaccount</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>newGet_Record_Referral.Referral_For_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>[Upsell] Vendor Invite: {!newGet_Record_Referral.Referral_For_Account__r.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>decLead_or_Account</name>
        <label>Lead or Account</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invitedLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newGet_Record_Referral.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newGetLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>invitedAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newGet_Record_Referral.Referral_For_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newGetAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <interviewLabel>New Case Flow Supplier Invite Updated V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case Flow Supplier Invite Updated V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUserAccount</name>
        <label>GetUserAccount</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newtaskAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newGet_Record_Referral.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newGet_Record_Referral</name>
        <label>Get Record Referral</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decLead_or_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Referral_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier Invite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newGetAccount</name>
        <label>GetAccount</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newcaserecordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>newGetLead</name>
        <label>GetLead</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>newcaseLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>newGet_Record_Referral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Supplier Invite</stringValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>descriptionLeadCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Supplier Invite</stringValue>
        </value>
    </variables>
    <variables>
        <name>iduseraccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>islead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newcaserecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
