my project/force-app/main/default/flows/Opportunity_Approval_Process_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Process_for_Closed_Lost</name>
        <label>Approval Process for Closed Lost</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Custom_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_for_ClosedLost2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Get_Opportunity.Loss_Reason_Details__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Approval_Process_for_Closed_Succeeded</name>
        <label>Approval Process for Closed Succeeded</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Custom_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Request_Closed_Succeeded2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Contract_Sign_Off_Request</name>
        <label>Opportunity: Contract Sign Off Request</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Custom_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Contract_Sign_Off_Request2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Auto Submitted through Flow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <description>Choice to trigger &apos;Opportunity: Contract Sign Off Request&apos;</description>
        <name>ProposalSentRequest</name>
        <choiceText>&lt;h2&gt;Proposal Sent Request&lt;/h2&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity: Contract Sign Off Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProposalSentRequest2</name>
        <choiceText>&lt;h2&gt;&lt;strong&gt;Proposal Sent Request&lt;/strong&gt;&lt;/h2&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Choice to trigger Approval Process : Opportunity: Approval process for closed:disqualified</description>
        <name>SettingStageToClosedDisqualified</name>
        <choiceText>Setting Stage To Closed: Disqualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Setting Stage To Closed: Disqualified</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice to trigger Approval Process: Opportunity: Approval Process for Closed Lost</description>
        <name>SettingStageToClosedLost</name>
        <choiceText>Setting Stage To Closed: Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Setting Stage To Closed: Lost</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice to trigger Approval Process : Opportunity: Approval Process for Closed Succeeded</description>
        <name>SettingStageToClosedSucceeded</name>
        <choiceText>Setting Stage To Closed: Succeeded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Setting Stage To Closed: Succeeded</stringValue>
        </value>
    </choices>
    <decisions>
        <description>This decision is to check which approval process has been selected by the user in the previous screen component</description>
        <name>Check_Selected_Approval_Process</name>
        <label>Check Selected Approval Process</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>None Selected</defaultConnectorLabel>
        <rules>
            <name>Contract_Sign_Off_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProposalSentRequest</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProposalSentRequest2</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Contract_Sign_Off_Request</targetReference>
            </connector>
            <label>Contract Sign Off Request</label>
        </rules>
        <rules>
            <name>Setting_Stage_To_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettingStageToClosedLost</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process_for_Closed_Lost</targetReference>
            </connector>
            <label>Setting Stage To Closed: Lost</label>
        </rules>
        <rules>
            <name>Setting_Stage_To_Closed_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Process_for_Closed_Succeeded</targetReference>
            </connector>
            <label>Setting Stage To Closed: Succeeded</label>
        </rules>
    </decisions>
    <description>Screen Flow to select the Opportunity approval process that needs to be triggered. User Story : OPSSYS-999</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Approval Process Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Approval Process Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Type_Of_Approval_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Check_Selected_Approval_Process</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Custom_Error_Message</name>
        <label>Custom Error Message</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 13, 13);&quot;&gt;Approval Process failed to run. Please check the opportunity record. Make sure that all the required fields for the approval process to trigger is correctly populated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Type_Of_Approval_Request</name>
        <label>Select Type Of Approval Request</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Type_Of_Approval_Request2</name>
            <choiceReferences>ProposalSentRequest</choiceReferences>
            <choiceReferences>SettingStageToClosedLost</choiceReferences>
            <choiceReferences>SettingStageToClosedSucceeded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type Of Approval Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Start_Date__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Timestamp_Growth_Signed_Onboarding__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Type_Of_Approval_Request3</name>
            <choiceReferences>ProposalSentRequest2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Type Of Approval Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Start_Date__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Start_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Timestamp_Growth_Signed_Onboarding__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 165, 0);&quot;&gt;* Required fields for the approval to trigger that has incorrect values will appear below. Please make sure that the correct values of these fields are selected before clicking &quot;Next&quot;. Please ignore this message if no fields appear.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Disqualification_Reason__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedDisqualified</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Disqualification_Reason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.StageName</objectFieldReference>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedLost</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed Lost</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SettingStageToClosedDisqualified</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed:Disqualified</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Mutual_Action_Plan_Attached__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>ProposalSentRequest</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Mutual_Action_Plan_Attached__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProposalSentRequest2</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Mutual_Action_Plan_Sign_Off__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>ProposalSentRequest</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Mutual_Action_Plan_Sign_Off__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProposalSentRequest2</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Loss_Reason_Details__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>(1 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedLost</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Loss_Reason_Details__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Closed_Succeeded_for_Approval__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Closed_Succeeded_for_Approval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Closed_Succeeded_Approval__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Closed_Succeeded_Approval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Closed_Lost_Approval__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Closed_Lost_Approval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Disqualification_Approval__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SettingStageToClosedSucceeded</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Opportunity.Disqualification_Approval__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
