my project/force-app/main/default/flows/Opportunity_delete_Update_Account_Commercial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>MarketPlace_Count</name>
        <label>MarketPlace Count</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>MarketCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Marketplace1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Premium1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Premium_Count</name>
        <label>Premium Count</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>PreCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Premium1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Premium_or_Marketplace</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Marketplace1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Marketplace</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Marketplace1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Fetch_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Marketplace1.RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Discovery_Commission</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Marketplace1.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>MarketPlace_Count</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Premium1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Premium</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignNextValueToReference>currentItem_Premium1_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Fetch_Opportunities</collectionReference>
        <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Premium1_0.RecordTypeName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Vendor_Package_3</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Premium1_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Signed/Onboarding</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Premium1_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Execution</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Premium1_0.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Premium_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Premium_or_Marketplace</name>
        <label>Check Premium or Marketplace</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MarketCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commercial_Package_to_Basic</targetReference>
            </connector>
            <label>Basic Check</label>
        </rules>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MarketCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commercial_Package_to_Premium</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
        <rules>
            <name>Marketplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MarketCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commercial_Package_to_Marketplace</targetReference>
            </connector>
            <label>Marketplace</label>
        </rules>
        <rules>
            <name>Premium_Marketplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MarketCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commercial_Package_to_Premium_Marketplace</targetReference>
            </connector>
            <label>Premium &amp; Marketplace</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity delete Update Account ( Commercial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity delete Update Account (Commercial)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Opportunities</name>
        <label>Fetch Opportunities</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketplace1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commercial_Package_to_Basic</name>
        <label>Update Commercial Package to Basic</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Package__c</field>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commercial_Package_to_Marketplace</name>
        <label>Update Commercial Package to Marketplace</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Package__c</field>
            <value>
                <stringValue>Marketplace</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commercial_Package_to_Premium</name>
        <label>Update Commercial Package to Premium</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Package__c</field>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commercial_Package_to_Premium_Marketplace</name>
        <label>Update Commercial Package to Premium &amp; Marketplace</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commercial_Package__c</field>
            <value>
                <stringValue>Premium &amp; Marketplace</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Opportunities</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Marketplace1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Premium1_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MarketCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
