my project/force-app/main/default/flows/Referral_Update_on_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Referral_to_Lead</name>
        <label>Add Referral to Lead</label>
        <locationX>1063</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>ReferralList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Referrals_For</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Referral_to_Lead_0</name>
        <label>Add Referral to Lead</label>
        <locationX>1051</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>ReferralList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReferral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Referral_By</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Referrals_with_By_Account_Values</name>
        <label>Update Referrals with By Account Values</label>
        <locationX>1195</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>varReferral1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Referral_By.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferral1.Referral_By_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferral1.Referral_By_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Lead.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Referral_to_Lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Referrals_with_For_Account_Values</name>
        <label>Update Referrals with For Account Values</label>
        <locationX>1188</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>varReferral.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Referrals_For.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReferral.Referral_For_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Referral_to_Lead</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Referral_by_the_Lead</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Referral by the Lead</label>
        <locationX>460</locationX>
        <locationY>127</locationY>
        <assignNextValueToReference>currentItem_Get_Referral_by_the_Lead_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Referral_For_Lead_by_the_Lead</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Referral_by_the_Lead_0.Referral_By_Lead__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Referral_for_the_Lead</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Referral_for_the_Lead</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Referral for the Lead</label>
        <locationX>697</locationX>
        <locationY>126</locationY>
        <assignNextValueToReference>currentItem_Get_Referral_for_the_Lead</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Referral_For_Lead_by_the_Lead</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Referral_for_the_Lead.Referral_For_Lead__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_For_Referrals_exists</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_For_Referrals_exists</name>
        <label>Check if For Referrals exists</label>
        <locationX>683</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Check_if_Referral_By_Lead_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Referrals_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_for_the_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Referrals_For</targetReference>
            </connector>
            <label>For Referrals exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Input_Lead_is_available</name>
        <label>Check if Input Lead is available</label>
        <locationX>168</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_lead_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Lead</targetReference>
            </connector>
            <label>Input lead available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Referral_By_Lead_exists</name>
        <label>Check if Referral By Lead exists</label>
        <locationX>675</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_Referrals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral_By_Lead_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_by_the_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Referral_By</targetReference>
            </connector>
            <label>Referral By Lead exists</label>
        </rules>
    </decisions>
    <interviewLabel>Referral Update on Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Update on Conversion</label>
    <loops>
        <name>Loop_Referral_By</name>
        <label>Loop Referral By</label>
        <locationX>813</locationX>
        <locationY>585</locationY>
        <collectionReference>Get_Referral_by_the_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Referrals_with_By_Account_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Referrals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Referrals_For</name>
        <label>Loop Referrals For</label>
        <locationX>850</locationX>
        <locationY>359</locationY>
        <collectionReference>Get_Referral_for_the_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Referrals_with_For_Account_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Referral_By_Lead_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>165</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referral_For_Lead_by_the_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_For_Lead_by_the_Lead</name>
        <label>Get Referral For Lead &amp; by the Lead</label>
        <locationX>461</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referral_by_the_Lead</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Lead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referrals</name>
        <label>Update Referrals</label>
        <locationX>691</locationX>
        <locationY>813</locationY>
        <inputReference>ReferralList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Input_Lead_is_available</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Get_Referral_by_the_Lead_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Referral_for_the_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Input_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Converted_Lead.ConvertedAccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Input_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>varReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>varReferral1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
