my project/force-app/main/default/flows/Referral_Create_Update_Count_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_to_a_Opportunity_List</name>
        <label>Add Opportunity to a Opportunity List</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_New_Opportunity_is_not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_to_a_Opportunity_List_0</name>
        <label>Add Opportunity to a Opportunity List</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Referrals</name>
        <label>Count Number of Referrals</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NumberofReferrals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Referral_on_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opportunity_Variable</name>
        <label>Create Opportunity Variable</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>OldOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldOpportunity.NumberOfVPRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofReferralsforOldOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to_a_Opportunity_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opportunity_Variable_0</name>
        <label>Create Opportunity Variable</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.NumberOfVPRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofReferrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to_a_Opportunity_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Number_of_Referrals_for_old_Opportunity</name>
        <label>Store Number of Referrals for old Opportunity</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberofReferralsforOldOpportunity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Referral_for_old_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Prior_Opportunity_is_not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Number_of_Referrals_for_updated_opportunity</name>
        <label>Store Number of Referrals for updated opportunity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NumberofReferrals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Referral_for_new_Opportunity_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_old_opportunity_exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_a_New_Record_or_Updated</name>
        <label>Check if a New Record or Updated</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Referral_on_Opportunity</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Updated_Record</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_new_opportunity_exists</targetReference>
            </connector>
            <label>Updated Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_new_opportunity_exists</name>
        <label>Check if new opportunity exists</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_if_old_opportunity_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_opportunity_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_for_new_Opportunity_0</targetReference>
            </connector>
            <label>new opportunity exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Opportunity_is_not_Null</name>
        <label>Check if New Opportunity is not Null</label>
        <locationX>446</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Variable_0</targetReference>
            </connector>
            <label>New Opportunity is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_old_opportunity_exists</name>
        <label>Check if old opportunity exists</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_if_Prior_Opportunity_is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>old_opportunity_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_for_old_Opportunity</targetReference>
            </connector>
            <label>old opportunity exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Prior_Opportunity_is_not_Null</name>
        <label>Check if Prior Opportunity is not Null</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_Opportunity_is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Opportunity_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Variable</targetReference>
            </connector>
            <label>Prior Opportunity is not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Referral-Create Update Count on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral-Create Update Count on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Referral_on_Opportunity</name>
        <label>Get All Referral on Opportunity</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_for_new_Opportunity_0</name>
        <label>Get Referral for new Opportunity</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Number_of_Referrals_for_updated_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_for_old_Opportunity</name>
        <label>Get Referral for old Opportunity</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Number_of_Referrals_for_old_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfVPRs__c</field>
            <value>
                <elementReference>NumberofReferrals</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Records</name>
        <label>Update Opportunity Records</label>
        <locationX>446</locationX>
        <locationY>2279</locationY>
        <inputReference>OpportunityList</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_a_New_Record_or_Updated</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>currentItem_Referrals_with_Old_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Referrals_with_Updated_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NumberofReferrals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofReferralsforOldOpportunity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OldOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
