my project/force-app/main/default/flows/Referral_Check_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Referral_to_a_List_0</name>
        <label>Add Referral to a List</label>
        <locationX>338</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>varReferralList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assign_dupes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_dupes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_checkbox</name>
        <label>set checkbox</label>
        <locationX>250</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>assign_dupes.Is_Dupe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Referral_already_exists_in_the_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Referral_already_exists_in_the_Collection</name>
        <label>Check if Referral already exists in the Collection</label>
        <locationX>250</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Add_Referral_to_a_List_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>assign_dupes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_dupes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ReferralList_is_not_null</name>
        <label>Check if ReferralList is not null</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReferralList_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Records</targetReference>
            </connector>
            <label>ReferralList is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dupes_found</name>
        <label>dupes found</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Check_if_ReferralList_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_dupes</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Referral- Check Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral- Check Duplicates</label>
    <loops>
        <name>assign_dupes</name>
        <label>assign dupes</label>
        <locationX>74</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Referral_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_checkbox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_ReferralList_is_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dupes_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR (6 AND 7))</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_By_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Referral_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Records</name>
        <label>Update Referral Records</label>
        <locationX>50</locationX>
        <locationY>1404</locationY>
        <inputReference>varReferralList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referral_Records</targetReference>
        </connector>
        <object>Referral__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-07-01</startDate>
            <startTime>11:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Filter_Referral_Records_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>varReferralList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
