my project/force-app/main/default/flows/Referral_Create_Update_Count_on_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Lead_to_a_Lead_List</name>
        <label>Add Lead to a Lead List</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>LeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_New_Lead_is_not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_to_a_Lead_List_0</name>
        <label>Add Lead to a Lead List</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>LeadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Referrals</name>
        <label>Count Number of Referrals</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NumberofReferrals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Referral_on_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Lead_Variable</name>
        <label>Create Lead Variable</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>OldLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Referral_For_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldLead.of_referrals_received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofReferralsforOldLeads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lead_to_a_Lead_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Lead_Variable_0</name>
        <label>Create Lead Variable</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>NewLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLead.of_referrals_received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofReferrals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lead_to_a_Lead_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Number_of_Referrals_for_old_and_Updated_Leads</name>
        <label>Store Number of Referrals for old and Updated Leads</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NumberofReferrals</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Referrals_with_Updated_Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofReferralsforOldLeads</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Referrals_with_Old_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Prior_Lead_is_not_Null</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Referrals_with_Old_Leads</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Referrals with Old Leads</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Referrals_with_Old_Leads</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Referral_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Referrals_with_Old_Leads.Referral_For_Lead__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record__Prior.Referral_For_Lead__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Store_Number_of_Referrals_for_old_and_Updated_Leads</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Referrals_with_Updated_Leads</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Referrals with Updated Leads</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Referrals_with_Updated_Leads</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Referral_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Referrals_with_Updated_Leads.Referral_For_Lead__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Referrals_with_Old_Leads</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_a_New_Record_or_Updated</name>
        <label>Check if a New Record or Updated</label>
        <locationX>402</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Referral_on_Lead</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>Updated_Record</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_Records</targetReference>
            </connector>
            <label>Updated Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Lead_is_not_Null</name>
        <label>Check if New Lead is not Null</label>
        <locationX>446</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Lead_is_not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Variable_0</targetReference>
            </connector>
            <label>New Lead is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Prior_Lead_is_not_Null</name>
        <label>Check if Prior Lead is not Null</label>
        <locationX>446</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Check_if_New_Lead_is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_Lead_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Referral_For_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead_Variable</targetReference>
            </connector>
            <label>Prior Lead is not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Referral-Create Update Count on Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral-Create Update Count on Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Referral_on_Lead</name>
        <label>Get All Referral on Lead</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Referrals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Records</name>
        <label>Get Referral Records</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referrals_with_Updated_Leads</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Records</name>
        <label>Update Lead Records</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <inputReference>LeadList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_referrals_received__c</field>
            <value>
                <elementReference>NumberofReferrals</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_a_New_Record_or_Updated</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Referrals_with_Old_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Referrals_with_Updated_Leads</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>LeadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NumberofReferrals</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofReferralsforOldLeads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OldLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
