my project/force-app/main/default/flows/Referral_Link_Referral_to_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Referral- Link Referral to Chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral- Link Referral to Chat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chat_Records</name>
        <label>Get Chat Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Referral_Records</targetReference>
        </connector>
        <filterLogic>(1 AND 7 AND 8 AND 9) OR (2 AND 6 AND 8 AND 9) OR ( (6 OR 7) AND (4 OR 5) AND 3) AND ( (8 OR 10) AND 9)</filterLogic>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_By_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BuyerLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_By_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuyerLead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_By_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SupplierAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BuyerLead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chat__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral_Records</name>
        <label>Update Referral Records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Chat__c</field>
            <value>
                <elementReference>Get_Chat_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chat_Records</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 7) OR (1 AND 4 AND (5 OR 6) AND 7) OR (2 AND 3 AND (5 OR 6) AND 7)</filterLogic>
        <filters>
            <field>Referral_By_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Chat__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
