my project/force-app/main/default/flows/Referral_Update_Main_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Deleted_record_is_the_Main_Referral_for_Account</name>
        <label>Check if Deleted record is the Main Referral for Account</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_For_Account__r.Main_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Referral_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_Deleted_Record_is_the_main_Referral_For_Lead</name>
        <label>Check If the Deleted Record is the main Referral For Lead</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_if_Deleted_record_is_the_Main_Referral_for_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Main_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_For_Lead__r.Main_Referral__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Referral</targetReference>
            </connector>
            <label>Main Referral</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Related_Referral_Exists</name>
        <label>If Related Referral Exists</label>
        <locationX>226</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_if_Deleted_record_is_the_Main_Referral_for_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Referral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Related_Referral_Exists_0</name>
        <label>If Related Referral Exists</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Referral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Referral-Update Main Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral-Update Main Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Referral</name>
        <label>Get Related Referral</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Related_Referral_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Referral_0</name>
        <label>Get Related Referral</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Related_Referral_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_For_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Referral__c</field>
            <value>
                <elementReference>Get_Related_Referral_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Records</name>
        <label>Update Lead Records</label>
        <locationX>94</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Check_if_Deleted_record_is_the_Main_Referral_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referral_For_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Referral__c</field>
            <value>
                <elementReference>Get_Related_Referral.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_the_Deleted_Record_is_the_main_Referral_For_Lead</targetReference>
        </connector>
        <object>Referral__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
