my project/force-app/main/default/flows/Referral_Object_from_Lead_Create_Edit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_New_Referral_Date</name>
        <label>Set New Referral Date</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>varReferral.Referral_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referral_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Referral</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_a_Duplicate_Existed</name>
        <label>Check if a Duplicate Existed</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_New_Referral_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Duplicate</defaultConnectorLabel>
        <rules>
            <name>No_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Referral_Object</targetReference>
            </connector>
            <label>No Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Referral_Should_be_Created_Edited</name>
        <label>Check if Referral Should be Created/Edited</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Lead_Referral_Info</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Duplicate_Referral</targetReference>
            </connector>
            <label>New Lead &amp; Referral Info</label>
        </rules>
        <rules>
            <name>Existing_Lead_Modified</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Referral__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Referral__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_for_Duplicate_Referral</targetReference>
            </connector>
            <label>Existing Lead Modified</label>
        </rules>
    </decisions>
    <description>Create new or update existing referral objects from lead create or edit.</description>
    <formulas>
        <name>MainReferral</name>
        <dataType>String</dataType>
        <expression>IF(
AND( {!varReferralId} != null, 
NOT(
ISBLANK(
{!varReferralId}
)
)
),
{!varReferralId},
{!varReferral.Id}
   )</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ReferralName</name>
        <dataType>String</dataType>
        <expression>MID(Text({!$Record.LeadSource}) &amp; &quot; by &quot; &amp; {!$Record.Account_Referral__r.Name} &amp; {!$Record.Lead_Referral__r.LastName} &amp;&quot; for &quot;&amp; {!$Record.Company}, 0, 80)</expression>
    </formulas>
    <formulas>
        <name>ReferralOwner</name>
        <dataType>String</dataType>
        <expression>MID( {!$Record.Account_Referral__r.OwnerId} &amp; {!$Record.Lead_Referral__r.OwnerId} ,0, 18)</expression>
    </formulas>
    <interviewLabel>Referral Object from Lead Create/Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Object from Lead Create/Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Referral_Object</name>
        <label>Create Referral Object</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignRecordIdToReference>varReferralId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Main_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ReferralName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReferralOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_By_Account__c</field>
            <value>
                <elementReference>$Record.Account_Referral__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_By_Lead__c</field>
            <value>
                <elementReference>$Record.Lead_Referral__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>$Record.Referral_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_For_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordCreates>
    <recordLookups>
        <name>Search_for_Duplicate_Referral</name>
        <label>Search for Duplicate Referral</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_a_Duplicate_Existed</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Referral_For_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Referral__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_By_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Referral__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </filters>
        <object>Referral__c</object>
        <outputReference>varReferral</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Main_Referral</name>
        <label>Update Main Referral</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Main_Referral__c</field>
            <value>
                <elementReference>MainReferral</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Referral</name>
        <label>Update Old Referral</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Main_Referral</targetReference>
        </connector>
        <inputReference>varReferral</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Referral_Should_be_Created_Edited</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Account_Referral__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Referral__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Mapping/Other</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>varReferralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
