my project/force-app/main/default/flows/Send_Email_Create_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_Activity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>assign_Fault_subject</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>orgWideEmailAddressId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RelationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>CcRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_Cc</name>
        <label>assign Cc</label>
        <locationX>138</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Cc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>find_Cc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cc</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>find_Cc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Fault_subject</name>
        <label>assign Fault subject</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A recipient could not be defined for this email. Please check the recipient settings or contact your admin.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to</name>
        <label>assign to</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>to</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>find_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>to</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>find_to</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>create_Activity</name>
        <label>create Activity</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityTracking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>find_to</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Modular send email action that optionally creates a related activity to improve tracking abilities.</description>
    <environments>Default</environments>
    <interviewLabel>Send Email &amp; Create Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email &amp; Create Activity</label>
    <loops>
        <name>find_Cc</name>
        <label>find Cc</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <collectionReference>CcRecipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Cc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateActivity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>find_to</name>
        <label>find to</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>EmailAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_to</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>find_Cc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateActivity</name>
        <label>Create Activity</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>Cc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>SenderAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>RelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>to</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActivityTracking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CcRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgWideEmailAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SenderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>to</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who will get an activity item for this send</description>
        <name>TrackedRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
