my project/force-app/main/default/flows/Task_Auto_Creation_for_Account_Manager_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ActiveAccountTouchpointNeeded</name>
        <label>Active Account Touchpoint Needed</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Account Touchpoint Needed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Low</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>High</name>
        <label>High</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Low</name>
        <label>Low</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monetised_Chat_Churning2</name>
        <label>Monetised Chat Churning</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monetised Chat Churning - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Supplier_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Top</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monetised_Upsell_Assign_0</name>
        <label>Monetised Upsell</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monetised Upsell - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Supplier_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Top</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Monetised_Chat_Churning2</name>
        <label>Non Monetised Chat Churning</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Monetised Chat Churning - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Supplier_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Monetised_Upsell_Assign</name>
        <label>Non Monetised Upsell</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Monetised Upsell - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Supplier_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Normal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Normal</name>
        <label>Normal</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onboard_Another_Buyer_User</name>
        <label>Onboard Another Buyer User</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboard Another Buyer User - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Normal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reactivate</name>
        <label>Reactivate</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reactivate - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuyerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Normal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Top</name>
        <label>Top</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Top</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Define_Activity</name>
        <label>Define Activity</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monetised_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatCreatedDateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneWeekAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.MonetisedOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalOrdersZero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monetised_Upsell_Assign_0</targetReference>
            </connector>
            <label>Monetised Upsell</label>
        </rules>
        <rules>
            <name>Monetised_Chat_Churning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChurnRiskToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.MonetisedOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.Retention_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Churn Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Monetised_Chat_Churning2</targetReference>
            </connector>
            <label>Monetised Chat Churning</label>
        </rules>
        <rules>
            <name>Non_Monetised_Chat_Churn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChurnRiskToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.MonetisedOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.Retention_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Churn Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Monetised_Chat_Churning2</targetReference>
            </connector>
            <label>Non-Monetised Chat Churn</label>
        </rules>
        <rules>
            <name>Non_Monetised_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatCreatedDateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OneWeekAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.MonetisedOpportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalOrdersZero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Chat.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Monetised_Upsell_Assign</targetReference>
            </connector>
            <label>Non Monetised Upsell</label>
        </rules>
        <rules>
            <name>Reactivate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyerAccount.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Active Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.LastActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FourWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastOrderDateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FourWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reactivate</targetReference>
            </connector>
            <label>Reactivate Account</label>
        </rules>
        <rules>
            <name>Onboard_Another_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyerAccount.Nr_Of_Active_Users__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAU_DateValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EightWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboard_Another_Buyer_User</targetReference>
            </connector>
            <label>Onboard Another Buyer</label>
        </rules>
        <rules>
            <name>Active_Account_Touchpoint</name>
            <conditionLogic>(1 AND 2) or (3 AND 4) or (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>BuyerAccount.Account_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.LastActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EightWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.Account_Tier__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.LastActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TwelveWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.Account_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuyerAccount.LastActivityDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SixteenWeeksAgo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActiveAccountTouchpointNeeded</targetReference>
            </connector>
            <label>Active Account Touchpoint</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ChatCreatedDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!get_Chat.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>ChurnRiskToday</name>
        <dataType>Boolean</dataType>
        <expression>IF(
DATEVALUE({!get_Chat.LastOrderDate__c})
+
IF({!get_Chat.churn_threshold__c}&lt;0,{!get_Chat.churn_threshold__c},14)
=
{!$Flow.CurrentDate},
TRUE,
FALSE)</expression>
    </formulas>
    <formulas>
        <name>EightWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-56</expression>
    </formulas>
    <formulas>
        <name>FourWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-28</expression>
    </formulas>
    <formulas>
        <name>LastOderDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!BuyerAccount.Last_Order_Time__c})</expression>
    </formulas>
    <formulas>
        <name>LastOrderDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!get_Chat.LastOrderDate__c})</expression>
    </formulas>
    <formulas>
        <name>NAU_DateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!BuyerAccount.NAU_Date__c})</expression>
    </formulas>
    <formulas>
        <name>OneWeekAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-7</expression>
    </formulas>
    <formulas>
        <name>SixteenWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-112</expression>
    </formulas>
    <formulas>
        <name>ThreeWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-21</expression>
    </formulas>
    <formulas>
        <name>TotalOrdersZero</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL({!get_Chat.LastOrderDate__c})</expression>
    </formulas>
    <formulas>
        <name>TwelveWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-84</expression>
    </formulas>
    <formulas>
        <name>TwoDaysAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-2</expression>
    </formulas>
    <formulas>
        <name>TwoDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksAgo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-14</expression>
    </formulas>
    <interviewLabel>Task Auto Creation for Account Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Auto Creation for Account Manager Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>974</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TwoDaysFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BuyerAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>BuyerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Chat</name>
        <label>get Chat</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Supplier_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuyerAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Chat__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Supplier_Account</name>
        <label>get Supplier Account</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Chat.SupplierAccount__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Chat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BuyerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Automated Task</stringValue>
        </value>
    </variables>
    <variables>
        <name>PriorAccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
