my project/force-app/main/default/flows/Timestamps_for_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>bothornot</name>
        <label>bothornot</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>timestampdmapproved_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>onlydmapproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Timestamp_NAB_Status_Touched__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampdmapproved_0_0</targetReference>
            </connector>
            <label>onlydmapproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>2624</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_stage_0</targetReference>
            </connector>
            <label>NAB</label>
        </rules>
        <rules>
            <name>Growth_or_Premium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor_Package_3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Growth_Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_stage_0_0</targetReference>
            </connector>
            <label>Growth or Premium</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_stage_0</name>
        <label>which stage</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Touched_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Touched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestamptouched_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Touched</label>
        </rules>
        <rules>
            <name>DM_Approved_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DM Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bothornot</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DM Approved</label>
        </rules>
        <rules>
            <name>Onboarded_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestamponboarded_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Onboarded</label>
        </rules>
        <rules>
            <name>Ordering_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampordering_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ordering</label>
        </rules>
        <rules>
            <name>Closed_Succeeded_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampsucceeded_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Succeeded</label>
        </rules>
        <rules>
            <name>Closed_Lost_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestamplost_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_stage_0_0</name>
        <label>which stage</label>
        <locationX>3086</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proposal_Sent_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampproposal_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Proposal Sent</label>
        </rules>
        <rules>
            <name>Contract_Pending_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampcontractpending_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contract Pending</label>
        </rules>
        <rules>
            <name>Signed_Onboarding_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed/Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampsigned_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Signed Onboarding</label>
        </rules>
        <rules>
            <name>Execution_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Execution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampexecuted_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Execution</label>
        </rules>
        <rules>
            <name>Closed_Succeeded_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestampsucceeded_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Succeeded</label>
        </rules>
        <rules>
            <name>Closed_Disqualified_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestamdisqualified_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Disqualified</label>
        </rules>
        <rules>
            <name>Closed_Lost_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed:Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>timestamplost_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TIMESTAMPNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Timestamps for Opporunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timestamps for Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>timestamdisqualified_0_0_0</name>
        <label>timestampdisqualified</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Growth_Closed_Disqualified__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampcontractpending_0</name>
        <label>timestampcontractpending</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Contract_Pending__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampdmapproved_0_0</name>
        <label>timestampdmapproved</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_DM_Approved__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampdmapproved_0_0_0</name>
        <label>timestampdmapproved</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_DM_Approved__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp_NAB_Status_Touched__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampexecuted_0</name>
        <label>timestampexecuted</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Opportunity_Executed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestamplost_0</name>
        <label>timestamplost</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_Lost__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestamplost_0_0</name>
        <label>timestamplost</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Growth_Closed_Lost__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestamponboarded_0</name>
        <label>timestamponboarded</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_Onboarded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampordering_0</name>
        <label>timestampordering</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_Ordering__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampproposal_0</name>
        <label>timestampproposal</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>TimestampGrowthProposalSent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampsigned_0_0</name>
        <label>timestampsigned</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Growth_Signed_Onboarding__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampsucceeded_0_0_0</name>
        <label>timestampsucceeded</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Growth_Closed_Succeeded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestampsucceeded_0_0_0_0</name>
        <label>timestampsucceeded</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_Growth_Closed_Succeeded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>timestamptouched_0</name>
        <label>timestamptouched</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Timestamp_NAB_Status_Touched__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2498</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Growth_Partnership</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
