my project/force-app/main/default/flows/Update_Supplier_Account_status_based_on_Oppty_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Active_Chats_0_0</name>
        <label>Active Chats?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Account_to_Revisit_Later_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesChats_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Nr_of_active_Buyers__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_Activated_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_is_Supplier_0_0</name>
        <label>Check if Account is Supplier?</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Chats_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_is_Supplier_0_0_0</name>
        <label>Check if Account is Supplier?</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Status_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Status_0</name>
        <label>Check Opportunity Status</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppty_Stage_Proposal_Sent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_Negotiation_0</targetReference>
            </connector>
            <label>Oppty Stage &apos;Proposal Sent&apos;?</label>
        </rules>
        <rules>
            <name>Oppty_Stage_Signed_Onboarding_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed/Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_to_Partnership_Execution_0</targetReference>
            </connector>
            <label>Oppty Stage &apos;Signed/Onboarding&apos;?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Implementation_End_Date_Populated_0_0</name>
        <label>Is Implementation End Date Populated?</label>
        <locationX>875</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_is_Supplier_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPopulated_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_is_Supplier_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddThreeMonths</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!$Flow.CurrentDate} , 3)</expression>
    </formulas>
    <interviewLabel>Update Supplier Account status based on Oppty Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Supplier Account status based on Oppty Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_to_Activated_0</name>
        <label>Update Account to Activated</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active &amp; Revenue Generating</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_to_Negotiation_0</name>
        <label>Update Account to Negotiation</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_to_Partnership_Execution_0</name>
        <label>Update Account to Partnership Execution</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Partnership Execution</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_to_Revisit_Later_0</name>
        <label>Update Account to Revisit Later</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Revisit Later</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionRevisitDisqualify__c</field>
            <value>
                <stringValue>Revisit Later</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RevisitDate__c</field>
            <value>
                <elementReference>AddThreeMonths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RevisitDisqualifyApprovalStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Implementation_End_Date_Populated_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vendor_Package_3</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
