my project/force-app/main/default/flows/User_Offboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_the_owner_to_the_queue</name>
        <label>Assign the owner to the queue</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_the_lead_from_the_user.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1r000003KThS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_the_lead_from_the_user.ValidationBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_record_in_the_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_record_in_the_collection_to_update</name>
        <label>Set the record in the collection to update</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>LeadUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_the_lead_from_the_user</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_the_lead_from_the_user</targetReference>
        </connector>
    </assignments>
    <interviewLabel>User Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Offboarding</label>
    <loops>
        <name>Loop_through_the_lead_from_the_user</name>
        <label>Loop through the lead from the user</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Leads_Owned_by_User_Leaving</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_owner_to_the_queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LeadUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leads_Owned_by_User_Leaving</name>
        <label>Get Leads Owned by User Leaving</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_the_lead_from_the_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LeadUpdate</name>
        <label>Update LeadUpdate</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>LeadUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads_Owned_by_User_Leaving</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
