my project/force-app/main/default/flows/User_After_Deactivation_Assign_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_all_accounts_to_the_Manager</name>
        <label>Assign all accounts to the Manager</label>
        <locationX>272</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_account_collection_0.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_account_collection_0.Previously_Assigned_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_all_the_accounts_to_Admin_API_User</name>
        <label>Assign all the accounts to Admin API User</label>
        <locationX>576</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_account_collection.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admin_API_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_account_collection.Previously_Assigned_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_account_Admin_API</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_account</name>
        <label>Assign final account</label>
        <locationX>272</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>MultipleAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_account_collection_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_account_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_account_Admin_API</name>
        <label>Assign final account Admin API</label>
        <locationX>576</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>MultipleAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_account_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_account_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Yes_or_No</name>
        <label>Account Yes or No</label>
        <locationX>520</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_whether_the_manager_of_the_current_user_is_active_and_not_null</targetReference>
            </connector>
            <label>Account Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_the_manager_of_the_current_user_is_active_and_not_null</name>
        <label>Check whether the manager of the current user is active and not null</label>
        <locationX>336</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_over_account_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_account_collection_0</targetReference>
            </connector>
            <label>Manager is active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ActiveManager</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Manager.IsActive}</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}&amp; &quot; &quot; &amp;{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>User After Deactivation Assign Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User After Deactivation Assign Account Owner</label>
    <loops>
        <name>Loop_over_account_collection</name>
        <label>Loop over account collection</label>
        <locationX>488</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_all_the_accounts_to_Admin_API_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Owner_to_Manager_OR_ADMIN_API</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_account_collection_0</name>
        <label>Loop over account collection</label>
        <locationX>184</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_all_accounts_to_the_Manager</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Owner_to_Manager_OR_ADMIN_API</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the accounts where the Account Owner is the Current user</description>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>520</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_API_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_API_User</name>
        <label>Get Admin API User</label>
        <locationX>520</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Yes_or_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ADMIN</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>API</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner_to_Manager_OR_ADMIN_API</name>
        <label>Update Account Owner to Manager OR ADMIN API</label>
        <locationX>336</locationX>
        <locationY>1320</locationY>
        <inputReference>MultipleAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdminApiUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Admin API</stringValue>
        </value>
    </variables>
    <variables>
        <name>MultipleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MultipleLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>MultipleOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
